[2020-05-20 12:38] #580 closed

[2020-05-20 12:51] dereuromark commented on #571
For what reason?
There are many libraries that depend on a library that uses this one here. And those need to work still in php73 and some even php72. That would just prevent them from getting those bugfixes.

If there is no pressing reason it is always best for libraries to have a reasonable frame of versions supported.

[2020-05-20 13:08] asgrim commented on #571
The maintainers give their time and support for free, so if we feel we should bump the minimum PHP version, then we will :smile:  Remember, because this is open source software (see https://github.com/Roave/BetterReflection/blob/master/LICENSE for details), you are more than free to fork it and support your own fork which maintains compatibility with PHP 7.2 :heart: thanks!

[2020-05-20 13:22] Ocramius commented on #571
Few reasons to be added:

 * we want to be able to use newer tooling (typed properties are a big one here)
 * we want to maintain smaller dependency ranges to ensure maximum stability for a certain target release
 * we want downstream to get the best possible version we can deliver, and we work to our best effort when we work with the tools that we consider to be best
 * we do this for fun in our

[2020-05-20 13:53] Ocramius commented on #580
@sebastianbergmann did it work with the `PhpInternalSourceLocator` then?

[2020-05-20 13:54] sebastianbergmann commented on #580
I did not have time yet to try it out. But I understand the comments as "it is possible" and "this is how" so I saw no reason to keep this open.

[2020-05-25 13:52] kukulich opened #588 "`ReflectionClass::hasMethod()`, `getMethod()` etc should be case insensitive"
Only adapter is case insensitive now but there are strange bugs like https://github.com/Roave/BetterReflection/compare/master...kukulich:case-insensitive-methods (it returns two methods now).

I can prepare PR if you agree.

[2020-05-25 14:00] Ocramius commented on #588
I think we should also index those maps as `@psalm-var array<lowercase-string, ...>`, since this will keep biting us in many endpoints 🤔

[2020-05-25 19:25] kukulich commented on #530
I think everything is ok, see https://github.com/Roave/BetterReflection/pull/593

ReflectionClass adapter returns the right types.

[2020-05-25 22:08] orklah commented on #530
Yep, these 3 cases were fixed by @Ocramius in https://github.com/Roave/BetterReflection/commit/beca868be431778a5c5da3ee0aa457763d7f20b4

The @psalm-suppress could have been removed at that occasion.

[2020-05-26 06:24] #530 closed

[2020-05-26 14:34] #556 closed

[2020-05-27 07:52] Ocramius opened #596 "Verify implementation of `ReflectionMethod#isAbstract()`"
Ref https://github.com/Roave/BetterReflection/pull/586#discussion_r430921287

BetterReflection does not seem to mark reflection methods as abstract when they are declared in interfaces, but not defined in concrete classes.

[2020-05-27 08:42] kukulich opened #598 "Verify ReflectionSourceStubber and PhpInternalSourceLocator for some PHP extensions."
- FFI
- mongodb
- memcache
- redis

[2020-05-27 08:49] #596 closed

[2020-05-27 08:58] #577 closed

[2020-05-27 09:35] Ocramius opened #599 "Add infection with minimum mutation score indicator to test runs"
https://github.com/Roave/BetterReflection/pull/585#issuecomment-634478630

[2020-05-27 10:44] kukulich opened #600 "Hidden bugs"
It looks something in test suite is breaking PHPUnit error handler. Probably `AutoloadSourceLocator`.

1.

[code]

2.

[code]

3.

[code]

Probably even more.

[2020-05-27 13:14] #588 closed

[2020-05-27 13:37] #600 closed

[2020-05-27 14:41] kukulich commented on #571
You can assign me to this.

[2020-05-27 14:41] #574 closed

[2020-05-27 14:43] Ocramius commented on #571
@kukulich do we want to bump to 7.4.1+ with `4.3.0` or `4.4.0`? I would probably release `4.3.0` within today (with the current fixes) and then bump from there, if you agree

[2020-05-27 14:56] kukulich commented on #571
@Ocramius I have the same idea so I agree to release 4.3.0 with current PHP requirement :)

@ondrejmirtes Do you have any unreported bugs? :)

[2020-05-27 15:46] ondrejmirtes commented on #571
I plan to go through the commits to my fork and some classes I copied over to phpstan-src to see what remains.

1) This big one is still open: https://github.com/Roave/BetterReflection/issues/573

2) Another one (that I haven't reported yet) is that AutoloadSourceLocator doesn't support class aliases. This is how I initially implemented it: https://github.com/phpstan/phpstan-src/blob/c0cb3a69266d1

[2020-05-27 15:50] Ocramius commented on #571
Could you please report those as separate issues? That way, we can at least get work started/more eyes on it (if needed)

[2020-05-27 16:09] kukulich opened #603 "PhpStormStubsSourceStubber can support filtering identifiers based on given PHP version"
Based on `@since` annotations

Eg. https://github.com/JetBrains/phpstorm-stubs/blob/master/FFI/FFI.php#L17

[2020-05-27 17:51] ondrejmirtes commented on #571
Yeah, of course, I now remembered a few more, mainly related to performance :)

[2020-05-27 19:10] #573 closed

[2020-05-27 23:12] #598 closed

[2020-05-28 07:52] ondrejmirtes opened #611 "PhpStormStubsSourceStubber should be case-insensitive for classes and functions"
Asking for `SOAPFault` and `SoapFault` should yield the same results.

PoC fix: https://github.com/ondrejmirtes/BetterReflection/commit/3105728871436e1c34c86db23f6dfe711fd9c12d

[2020-05-28 08:00] ondrejmirtes opened #612 "DirectoriesSourceLocator is too ineffective"
What it currently does from my testing:

When asked about an identifier, it parses all sources it can access until the identifier is found, then returns the result.

When asked about another identifier, it parses all sources again it can access... Rinse and repeat.

Ideally, it should first index all identifiers it knows about to be more effective. It's still too resource-intensive to parse all so

[2020-05-28 08:04] ondrejmirtes commented on #603
A few cases are tricky to handle:

* `array_push` has `@since 7.3` but it's also in older versions.
* `setcookie` is present multiple times which causes it to be overriden in a single-dimension array.
* `CompileError` is available since PHP 7.3, but in the stubs there's `ParseError extends CompileError` which is available since PHP 7.0. I lie about this in my fork and make CompileError available s

[2020-05-28 08:08] ondrejmirtes opened #613 "PsrAutoloaderLocator should be forgiving about invalid installations and configurations"
Basically any exception thrown in `MakeLocatorFor*` classes can happen in real world installations. I chose to skip these instead and not add any locators in these paths.

For example `installed.json` might not be generated. I got this bug report when I used the implementation for Roave/BetterReflection: https://github.com/phpstan/phpstan/issues/2818

[2020-05-28 08:14] ondrejmirtes opened #614 "SingleFileSourceLocator is too ineffective about unknown identifiers"
When asked about an unknown identifier, it always parses the source code again.

Instead, it should parse the file only a single time and remember all the parsed symbols.

I know there's MemoizingSourceLocator but it doesn't help really. It will only remember `null` when asked about the same identifiers for the second time.

[2020-05-28 08:14] ondrejmirtes commented on #614
My PoC implementation that works well: https://github.com/phpstan/phpstan-src/blob/master/src/Reflection/BetterReflection/SourceLocator/OptimizedSingleFileSourceLocator.php

[2020-05-28 08:17] ondrejmirtes opened #615 "Memoizing in ClassReflector/FunctionReflector/ConstantReflector would help with performance"
See PoC implementation that uses inheritance for decoration (but it could be done directly in the implementation): https://github.com/phpstan/phpstan-src/blob/master/src/Reflection/BetterReflection/Reflector/MemoizingClassReflector.php

[2020-05-28 08:23] ondrejmirtes opened #616 "AutoloadSourceLocator doesn't support class aliases"
When an aliased class is already loaded in runtime, and AutoloadSourceLocator is asked for reflection via this alias, it won't be able to find the implementation in the reported filename (because the real class name is different):

[code]

I was able to implement it by giving also the real class name besides the filename, like this:

[code]

[code]

But it's not possible when the locator extends A

[2020-05-28 08:45] ondrejmirtes opened #617 "AutoloadSourceLocator should know all symbols from a file once a class is autoloaded from that file"
Let's say we have a file that looks like this:

[code]

Once the PHP runtime autoloads the class `A`, it also knows about `b()` and `C` which traditionally cannot be autoloaded and wouldn't be discovered otherwise.

AutoloadSourceLocator should parse the file with `A` before creating the Reflection and when asked about `b()` and `C`, it should report them as known.

I understand if you don't want

[2020-05-28 08:46] ondrejmirtes commented on #571
I've reported all the issues I currently know about :) There's a lot of them but they make BetterReflection work in PHPStan really well :)

[2020-05-28 09:46] Ocramius commented on #617
Isn't this already handled by looking at loaded files?

I don't understand what is not working as it currently is: specifically test scenario needed.

The `AutoloadSourceLocator` design only follos the **autoloader** behaviour, so I think this might be a new source locator based on a different principle?

[2020-05-28 10:03] Ocramius commented on #615
I think the entire class/function/constant reflection where the reflectors depend on each other is very messy as it is: this totally requires an architectural change, rather than pushing more responsibility down the reflectors themselves.

[2020-05-28 10:05] Ocramius commented on #613
I would make alternate factories for "forgiving" scenarios: the default ones should absolutely be strict, while forgiveness should be an opt-in choice of the consumer.

Otherwise we push too many assumptions into a single unit of code.

[2020-05-28 10:08] Ocramius commented on #613
In fact, I would add that shopware should probably only use the `AutoloadSourceLocator` and have a performance penalty there: shopware applications are riddled with hacks around the plugin system that are making integration for a lot of tooling very messy.

[2020-05-28 10:24] Ocramius commented on #612
Probably best to deprecate the `DirectoriesSourceLocator`, or at least use it only for `classmap` scenarios, since all it does is an aggressive sequential scan.

This is more of a documentation issue: we have better source locators using different lookups strategies, which are a better fit for most codebases.

[2020-05-28 10:26] Ocramius commented on #612
Note: pushing memoization into existing locators is a no-go: it is not their responsibility, and it will lead to a crazy amount of complexity and state-related bugs.

Similar to class/function/constant reflectors, a uniform cache/registry design is needed.

[2020-05-28 10:37] Ocramius opened #620 "#609 re-introduce PHPStan checking of the `PhpStormStubsSourceStubber` once PHPStan 0.12.26 is out"
See #609 (we need to revert it once upstream is released)

[2020-05-28 11:02] ondrejmirtes commented on #612
PHPStan's use-case is that DirectorySourceLocator is used for analysed paths. It's possible there's no other way to analyse them, there might not be any other way to discover the analysed symbols. This is how the whole chain of source locators is constructed in PHPStan: https://github.com/phpstan/phpstan-src/blob/master/src/Reflection/BetterReflection/BetterReflectionSourceLocatorFactory.php#L101-

[2020-05-28 11:04] #611 closed

[2020-05-28 11:07] Ocramius commented on #612
I'm OK with that, I'm saying that using alternative implementations using different strategies (new code) is preferable to adapting the pre-existing one 👍

Effectively, the pattern is always the same: if you have "seen" something, even if not interesting, you want to keep it memoized for later. We need a decent design for that, which works at the core of the library 👍

[2020-05-28 11:10] ondrejmirtes commented on #617
Who is handling loaded files in your opinion? Do you mean the case when `new \ReflectionFunction($functionName)` succeeds and we can read `getFileName()` from it?

Nope, it's not that case - because the function isn't loaded in runtime.

I think AutoloadSourceLocator is a good place to do it because exactly it follows the autoloading principle, and these functions and constants are discovered only

[2020-05-28 11:22] Ocramius commented on #617
The `AutoloadSourceLocator` (and all other locators) should only report what is "seen" during a lookup to a third party responsible of memoization and lookup heuristic/optimisation.

As mentioned here and elsewhere, there is a missing component that requires some architectural design.

Solving the problem in `AutoloadSourceLocator` still leaves it open for all other source locators too.

[2020-05-28 11:26] ondrejmirtes commented on #617
Yeah, centralization would make sense. Locators would be able to push all found symbols into it.

[2020-05-28 11:27] Ocramius commented on #617
Correct: something like "traverse and stop when found" with a registry that can be set up independently 👍

[2020-05-28 14:16] #599 closed

[2020-05-28 14:57] #571 closed

[2020-05-28 16:45] DanielBadura opened #624 "Tests consuming alot memory right now"
At the moment the test are consuming a huge amount of memory. Local the test are consuming 2.5GB:

[code]

I just checked some CI jobs from the last days:
2.55 GB: https://github.com/Roave/BetterReflection/runs/717137271?check_suite_focus=true
1.41 GB: https://github.com/Roave/BetterReflection/pull/622/checks?check_run_id=716753844
212 MB: https://github.com/Roave/BetterReflection/pull/607/checks?

[2020-05-28 16:55] Ocramius commented on #624
Consider that the tests use a singleton memoizing parser:

https://github.com/Roave/BetterReflection/blob/fbeb9f15c592f86507d44a0ffd7838a8163a9fac/test/unit/BetterReflectionSingleton.php#L9-L19

https://github.com/Roave/BetterReflection/blob/fbeb9f15c592f86507d44a0ffd7838a8163a9fac/src/BetterReflection.php#L76-L84

https://github.com/Roave/BetterReflection/blob/fbeb9f15c592f86507d44a0ffd7838a8163a

[2020-05-28 16:56] ondrejmirtes commented on #624
My tip is that is this line in PhpStormStubsSourceStubber:

[code]

[2020-05-28 16:56] ondrejmirtes commented on #624
As constants are case-sensitive I don't we need to do it.

[2020-05-28 16:58] ondrejmirtes commented on #624
Just verified locally. On master the tests take about 1.4 GB. When I remove `array_change_key_case` for the constants, they take 674 MB.

[2020-05-28 17:01] kukulich commented on #624
@ondrejmirtes

It’s not fully true - see comment in the PR #611

[2020-05-28 17:03] ondrejmirtes commented on #624
@kukulich This applies to user-defined constants. My bet is that the constants in the stubs describing built-in and extension constants will be case-sensitive?

[2020-05-28 17:03] kukulich commented on #624
It can be improved - I think I’ve some ideas

[2020-05-28 17:05] kukulich commented on #624
@ondrejmirtes

Nope :) There’s also test for some case insensitive constants

[2020-05-28 17:05] Ocramius commented on #624
Wait... those variables take 600+Mb? Do we have a GC issue, or are they really that huge?

In theory, we should have one of those in memory at each time.

[2020-05-28 17:07] ondrejmirtes opened #625 "Adapter ReflectionClass::getReflectionConstant returns null but should return false"
See PoC fix: https://github.com/ondrejmirtes/BetterReflection/commit/07af30d92461a6a4e34194d21ab188b32e9cfcaa

[2020-05-28 17:08] ondrejmirtes commented on #624
CONSTANTS is definitely the largest array in PhpStormStubsMap.

[2020-05-28 17:09] kukulich commented on #624
I think I can improve memory usage but it will be slower

[2020-05-28 17:12] ondrejmirtes commented on #624
I’d think hard about whether do we really need to support this 😀

[2020-05-28 17:13] Ocramius commented on #624
How much memory does *ONE* instance of the stubs map take?

[2020-05-28 17:13] kukulich commented on #624
Will look at it later - after my children and wife go to sleep :)

[2020-05-28 17:15] Ocramius commented on #624
It seems correct to support it: we just have an implementation issue. In the review, I specifically asked for instance variables for this map, so we need to see if it's an issue pertinent to GC or actual memory usage of *one* instance.

If we can rely on interned strings, that would be best.

[2020-05-28 19:15] kukulich commented on #624
https://github.com/Roave/BetterReflection/pull/627

[2020-05-30 06:38] kukulich opened #631 "Build badge does not work right"
Because there’s no Build workflow.

Should the badge be removed or changed eg. to unit tests?

[2020-05-31 01:39] Ocramius commented on #631
Hmm, didn't know the badge is related to a specific workflow... Is an
aggregation, or a "depends on" possible, where "build" depends on all other
workflows?

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Sat, May 30, 2020 at 8:38 AM Jaroslav Hanslík <notifications@github.com>
wrote:

[2020-05-31 19:32] kukulich commented on #631
Probably not: https://help.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow#adding-a-workflow-status-badge-to-your-repository

[2020-05-31 19:53] Ocramius commented on #631
Eh, guess the badge needs to go then :D

I would probably use the MT one only: that's our most significant scenario.

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Sun, May 31, 2020 at 9:32 PM Jaroslav Hanslík <notifications@github.com>
wrote:

[2020-05-31 20:35] #631 closed

[2020-05-31 20:37] #625 closed

[2020-06-05 11:13] ondrejmirtes opened #639 "Wrong ReflectionMethod::getPrototype() behaviour for constructors"
Constructors in PHP have special handling - their signature isn't enforced for overriding constructors in child classes unless the constructor in parent class (or interface) is abstract.

See: https://3v4l.org/dgHmi

BetterReflection does not reflect this: https://gist.github.com/ondrejmirtes/27d06ccc206dbf8dc0c08884205b0636

Additionally, I suspect that Adapter\ReflectionMethod::getPrototype() wi

[2020-06-07 09:27] ondrejmirtes opened #640 "Wrong ReflectionMethod::getPrototype() behaviour when traits are involved"
In this case, `Foo::doFoo()` prototype should be FooInterface, but BetterReflection says that the method does not have a prototype.

[code]

Reproduction: https://gist.github.com/ondrejmirtes/b8b451fdb8249c45b68a40beccee4554

[2020-06-07 09:29] ondrejmirtes commented on #639
My point about the exception is wrong:

I noticed that MethodPrototypeNotFound extends built-in ReflectionException.

[2020-06-07 09:34] ondrejmirtes commented on #640
PoC fix: https://github.com/ondrejmirtes/BetterReflection/commit/edc7df96a18e13cb6689ded96a3b3da89b41667b

[2020-06-08 08:53] Ocramius commented on #640
@ondrejmirtes btw, you seem to send a lot of these "POC fixes" when you actually completed a full test and fix: wouldn't it be simpler to send a test that fits in the test suite?

[2020-06-08 09:08] ondrejmirtes commented on #640
My workflow is this:

1) Find something failing in PHPStan which I have a failing test for in context of PHPStan.
2) Try a fix by inline editing BetterReflection code in vendor and verify it by running PHPStan test.
3) If it works, commit the fix to my BetterReflection fork.
4) Create a reproducing gist and send an issue :)

Why I don't create tests in BetterReflection:

* I don't need them :)
* E

[2020-06-08 13:27] smoench opened #643 "ReflectionClass::getImmediateInterfaces() returns parent interfaces"
Version: 4.3.0

`ReflectionClass::getImmediateInterfaces()` intends to `Get only the interfaces that this class implements (i.e. do not search up parent classes etc.)` but actually returns parent implemented interfaces.

Given I have following code I want to be analysed:
[code]

I would expect only `FixtureBasicInheritanceInterfaceD` to be returned but currently following is returned:
[code]

[2020-06-08 13:47] ondrejmirtes opened #644 "ReflectionFunctionAbstract does not recognize body with `yield from` as generator"
PoC fix: https://github.com/ondrejmirtes/BetterReflection/commit/ad4a69cfcfc1741c45609e29f7a88c5194aa25d3

Original issue: https://github.com/phpstan/phpstan/issues/3407

[2020-06-08 14:45] ondrejmirtes opened #645 "CompileNodeToValue does not recognize all magic constants"
PoC fix: https://github.com/ondrejmirtes/BetterReflection/commit/5a662db404d78d8a9e5b55f408c3973d5d04ebe5

Original issue: https://github.com/phpstan/phpstan/issues/3405

[2020-06-08 20:41] ondrejmirtes opened #646 "Parameter with a default value followed by a variadic parameter should be optional"
Example code:

[code]

BetterReflection considers the `$callback` parameter to be non-optional.

PoC fix: https://github.com/ondrejmirtes/BetterReflection/commit/a155b3187b218fcbbc58865e76154281e9cb0847

Original issue: https://github.com/phpstan/phpstan/issues/3409

[2020-06-08 20:48] ondrejmirtes opened #647 "ReflectionClass - abstract trait method should not override concrete method from parent class"
(Yeah, I want to kill myself because of PHP and traits too.)

Consider this code (https://3v4l.org/GNnML):

[code]

PHP reflection matches that:

[code]

Unfortunately BetterReflection thinks that the implementing class of `myFoo` (declaring class from the Adapter point of view) is ClassFoo and that the method is abstract and therefore PHPStan considered it not implemented.

PoC fix: https://githu

[2020-06-08 21:10] gmponos commented on #647
@ondrejmirtes I don't understand why you consider this behavior of traits unreasonable.. if you had this you would get the same result.. https://3v4l.org/3r032

The trait is a just part of your class.. that you can easily repeat multiple times...

The abstract methods in traits help do tricks like this:

https://3v4l.org/vPusp

[2020-06-08 21:33] ondrejmirtes opened #648 "Getting last doc comment instead of first one would match PHP reflection"
See PHP behaviour: https://3v4l.org/RGiqv

PoC fix: https://github.com/ondrejmirtes/BetterReflection/commit/ab41f90af9119abb2ea9223cd22bf913c777de16

Original issue: https://github.com/phpstan/phpstan/issues/3402

[2020-06-08 21:56] gmponos commented on #647
Ok.. i see now.. the getDeclaringClass should return the trait name...

[2020-06-08 21:57] ondrejmirtes commented on #647
That's never the case in PHP, see: http://mouf-php.com/blog/php_reflection_api_traits

But in BetterReflection, there's getDeclaringClass that can return a trait, and there's getImplementingClass that does the same thing as PHP's getDeclaringClass.

[2020-06-09 05:56] kukulich commented on #620
PHPStan 0.12.26 is out but it reports strange errors. Some have to be fixed in other libraries:

- https://github.com/JetBrains/phpstorm-stubs/pull/821
- https://github.com/phpstan/phpdoc-parser/pull/47

[2020-06-09 11:48] #643 closed

[2020-06-09 11:48] #644 closed

[2020-06-09 11:50] #646 closed

[2020-06-09 12:00] Ocramius opened #654 "Master mutation test run failed"
See https://github.com/Roave/BetterReflection/runs/753692410

Possibily due to random execution order (intentional), we may have caught some global state issue

[2020-06-09 14:11] #648 closed

[2020-06-10 00:11] #640 closed

[2020-06-10 00:11] #639 closed

[2020-06-10 06:41] ondrejmirtes opened #657 "CompilerContext::getFileName() works only in class context"
When a constant is defined outside of class:

[code]

CompileNodeToValue fails: `Uncaught RuntimeException: The current context does not have a class for self`

Original issue: https://github.com/phpstan/phpstan/issues/3433

The fix is to pass in filename separately in CompilerContext's constructor and do not rely on `$this–>self` which contains ReflectionClass.

[2020-06-10 07:16] Ocramius commented on #654
Another one: https://github.com/Roave/BetterReflection/runs/756048594

[2020-06-10 18:52] ondrejmirtes opened #658 "BetterReflection says method Generator::throw() does not exist"
This one is really tricky. The method comes prefixed in the stubs (https://github.com/JetBrains/phpstorm-stubs/blob/b1041ca15222138a1d3d3aa4afb096df215bdc2e/standard/_types.php#L189-L194) because the PHP-Parser couldn't parse the file otherwise - there can't be a userland method called `throw`.

So we can't generate stub data as `public function throw(...`. The question is on which layer this shou

[2020-06-10 19:20] ondrejmirtes opened #659 "Trait method aliases don't work in a simple scenario without insteadof"
See this example:

[code]

BetterReflection reports that `SomeClass::baz()` does not exist.

Additionally, `SomeClass::bar()` also exists and it doesn't seem like a PHP bug. The manual says (https://www.php.net/manual/en/language.oop5.traits.php):

Runtime proof: https://3v4l.org/kBjVh
Reproduction: https://gist.github.com/ondrejmirtes/a18fc61b29d2319beb792ec5252b1939

_Silly me 2 days ago thought

[2020-06-11 11:20] ondrejmirtes commented on #38
We could read `@deprecated` from the phpstorm-stubs.

[2020-06-11 11:33] kukulich commented on #38
It looks this could be closed already :)

[2020-06-11 11:34] ondrejmirtes commented on #38
We're discussing it in https://github.com/phpstan/phpstan-deprecation-rules/issues/24

[2020-06-11 11:37] kukulich commented on #38
It can probably be part of https://github.com/Roave/BetterReflection/issues/603

[2020-06-11 11:39] ondrejmirtes commented on #38
Yeah, it probably should be because the stubber will know about the PHP version to check against.

[2020-06-12 09:50] Ocramius commented on #154
Discussed in detail in #626: this should not be part of this library unless we manage to have PHI translation of code, so that we can inspect code usages via static analysis.

[2020-06-12 09:50] #154 closed

[2020-06-12 09:59] #624 closed

[2020-06-12 11:12] Ocramius commented on #659
Handled in #652

[2020-06-12 11:12] #659 closed

[2020-06-12 11:12] Ocramius commented on #647
Handled in #652

[2020-06-12 11:12] #647 closed

[2020-06-14 11:44] ondrejmirtes commented on #657
PoC fix: https://github.com/ondrejmirtes/BetterReflection/commit/c142693cf481680fdbf1c3f50f7804c8b9578119

[2020-06-14 12:49] ondrejmirtes opened #663 "Changed trait method visibility is not taken into account"
[code]

BetterReflection keeps the original visibility from the trait.

In the AST this information is communicated through `PhpParser\Node\Stmt\TraitUseAdaptation\Alias::$newModifier` (integer constants from `Class_` most likely). Looks like this property isn't read in the source code at all.

Original issue: https://github.com/phpstan/phpstan/issues/3465#issuecomment-643757521

[2020-06-22 12:18] smoench opened #664 "`ReflectionClass::getImmediateInterfaces` fails on anonymous classes"
Given I have following code snippet I want to be analyzed:

[code]

I would expect `Tests\SensioLabs\Deptrac\AstRunner\Resolver\Fixtures\InterfaceB` will returned.
But got following exception:
<details>
<pre>
PHP Fatal error:  Uncaught Roave\BetterReflection\Reflector\Exception\IdentifierNotFound: Roave\BetterReflection\Reflection\ReflectionClass "Tests\SensioLabs\Deptrac\AstRunner\Resolver\Fixtur

[2020-06-22 12:19] Ocramius commented on #664
Possibly similar to #505?

[2020-06-22 12:28] smoench commented on #664
Well, the exception is caused by https://github.com/Roave/BetterReflection/blob/master/src/Reflection/ReflectionClass.php#L972 but #505 changes only the `ReflectionObject`. Probably the adjustments need also applied on `ReflectionClass`.

[2020-06-22 12:37] Ocramius commented on #664
Could you try out the PR branch? I'm intending to look at it later today, hopefully.

[2020-06-22 12:53] smoench commented on #664
Yes, will try. No need to hurry. I still evaluating if better-reflection is usable for deptrac. Currently I skipping anonymous classes as it will be analyzed through the body ast of that method. And I still missing where the dependencies are being used (need to open another issue with a better description).

[2020-06-23 11:26] smoench commented on #664
I tried out #505 but did not work. So I combined #505 with #665 and my test script worked 🤷

[2020-07-01 17:54] ondrejmirtes opened #673 "Adapter\ReflectionClass::$name is empty"
It should contain the class name instead.

Not sure if this has a solution, tried something but PHP doesn't allow it: https://3v4l.org/dmV2m

[2020-07-01 17:59] ondrejmirtes commented on #673
Reflection doesn't help here: https://3v4l.org/9cOop

[2020-07-01 18:27] Ocramius commented on #673
Fear not, for I have seen the gates of hell, and I hath returned! https://3v4l.org/PBRN1

[2020-07-01 18:38] ondrejmirtes commented on #673
Awesome, I need to take a shower now 😝  😃

[2020-07-01 20:14] powtac commented on #673
$name somehow protected?

[2020-07-02 08:30] ondrejmirtes commented on #673
Looking at https://github.com/JetBrains/phpstorm-stubs/blob/master/Reflection/Reflection.php there are 12 such properties.

I sent a fix for the first one: https://github.com/Roave/BetterReflection/pull/674 If the review passes I can send fixes for the rest too.

[2020-07-03 09:18] rulatir commented on #499
Sadly I must interpret your response as a firm NO, because interdiction against copypasting code is virtually a religious commandment to me, and I am a proud zealot. Fact: your library is unsuitable for my purpose. Closing the issue.

[2020-07-03 09:18] #499 closed

[2020-07-03 09:31] Ocramius commented on #499
Sorry, but we will just have to agree to disagree: opening a class for inheritance is a massive amount of added complexity, both for consumers and for maintainers.

You can have a look at the BC compliance differences for [open classes](https://github.com/Roave/BackwardCompatibilityCheck/blob/5.0.0/bin/roave-backward-compatibility-check.php#L95-L182) an [final classes](https://github.com/Roave/Bac

[2020-07-06 10:12] Ocramius commented on #673
Handled in #674

[2020-07-06 10:12] #673 closed

[2020-07-09 12:43] Ocramius commented on #38
Closing this: implemented since a while, but I'll mark `4.8.0` as the milestone, since most of the convo revolves around `@deprecated` now.

[2020-07-09 12:44] #38 closed

[2020-07-15 22:12] TRowbotham opened #679 "ReflectionClass:getConstants() signature has changed in PHP 8"
Running PHPStan on PHP 8 gives the following error due to a function signature mismatch for `ReflectionClass:getConstants()`:

[code]

From the PHP 8 [upgrade notes](https://github.com/php/php-src/blob/php-8.0.0alpha2/UPGRADING):

[2020-07-15 22:16] Ocramius commented on #679
Yeah, the library is not yet tested for PHP 8.x, and no work has been started to get there.

I'd expect any efforts to start after the summer is over, and 8.x is completely in feature freeze.

[2020-07-15 22:21] ondrejmirtes commented on #679
I already did some work in my fork (it even supports union types and mixed type), so some one can pick up the code and polish it for this main repo :) https://github.com/ondrejmirtes/BetterReflection/commit/0acd4522bd500547cf2574acb3b1a04b177869ae (https://github.com/ondrejmirtes/BetterReflection/commits/master)

[2020-07-15 22:22] kukulich commented on #679
I did some work too but currently I'm learning Python 😃

[2020-07-15 22:23] Ocramius commented on #679
We can probably fix the crashes, but we still have a loooooot of work to do anyway.

I would suggest making a push once it is safe to do so, or else we just waste a lot of everyone's time 🤷‍♀️

[2020-07-20 07:42] llaville opened #680 "Please provide a CHANGELOG in "standard" format"
Even if there is not yet a standard to keep a changelog file, lot of Open Source Projects have already adopted the https://keepachangelog.com/en/1.0.0/ format.

It will be greatly apprecied to follow changes in this project in this keep a changelog format rather than the `UPGRADE.md` file.

[2020-07-20 07:45] Ocramius commented on #680
Deferring to https://github.com/laminas/automatic-releases/issues/5

[2020-07-20 07:45] #680 closed

[2020-07-20 07:45] Ocramius commented on #680
Meanwhile, our releases include a changelog @ https://github.com/Roave/BetterReflection/releases (`git tag` also displays that info)

[2020-08-05 07:54] ondrejmirtes opened #688 "BetterReflection does not support namespaced constants in default property and parameter values"
Code like this fails:

[code]

It tries to find constant with name `Test`.

There are several occurences of getting `Name::$parts[0]` in BR which obviously doesn't work for this case.

PoC fix (notice also the unskipped `todo` test): https://github.com/ondrejmirtes/BetterReflection/commit/7749ef8753a65801993274ed9215ae717490bd4d

[2020-09-25 09:02] Aerendir opened #689 "\Roave\BetterReflection\Reflection\ReflectionClass "Carbon\Traits\Localization" could not be found in the located source"
As per object, the error returned is this:

         "_HumbugBox10beb0db089e\Roave\BetterReflection\Reflection\ReflectionClass "Carbon\Traits\Localization" could
         not be found in the located source".

The trait in question [is this](https://github.com/briannesbitt/Carbon/blob/master/src/Carbon/Traits/Localization.php).

[2020-09-25 09:03] ondrejmirtes commented on #689
What project are you using? Seems like the BetterReflection is packed in a PHAR, just interested when you actually see the error.

Anyway, this problem can be due to misconfigured source locators that actually don't see the trait, so the error might be expected.

[2020-09-25 09:03] Ocramius commented on #689
Can this be reproduced in isolation with some steps?

On Fri, Sep 25, 2020, 11:02 Adamo Crespi <notifications@github.com> wrote:

[2020-09-30 09:08] Aerendir commented on #689
Excuse me for the late response: I missed it...

Anyway, the error happens on this project: https://github.com/Aerendir/component-then-when

# Steps to reproduce

1. Obviously, clone the repo locally
2. In file `rector.php`, comment the line that excludes the file `__DIR__ . '/src/Strategy/TimeFixedStrategy.php'`
3. Run `bin/validate`

[code]

[2020-10-01 10:45] Ocramius opened #691 "Add automated release workflow via `laminas/automatic-releases`"

[2020-10-01 10:56] #691 closed, assigned to nobody

[2020-10-01 18:37] carlosas opened #693 "Expose PHP internal stubs map"
I have seen that PhpInternalSourceLocator makes the reflector have the references to core+extensions classes, but they are not returned while trying to retrieve all the classes found:
[code]

This makes total sense while it's aggregated to another locator like AutoloadSourceLocator but is there a way to retrieve them?
If not, would be possible to expose (reflected or not) the class-map generated i

[2020-10-01 22:20] Ocramius commented on #693
@carlosas could you perhaps make a small example (in code) of what behavior you are expecting? The `SourceStubber` interface does not really allow enumerating existing symbols, since some implementations of it really just generate symbols on-the-fly:

https://github.com/Roave/BetterReflection/blob/5b4d1c53768e2a3bc32ab348752663733fd70546/src/SourceLocator/SourceStubber/ReflectionSourceStubber.php#

[2020-10-02 18:56] carlosas commented on #693
To be honest I would expect this code to return all the internal classes reflected, but then you would need to find an alternative approach to not aggregate them while using it with another locator (since this is the current behaviour). Maybe let the user choose with some sort of flag?
[code]

An alternative would be to have some kind of _get known symbols_ in the `SourceStubber` and then stubbers

[2020-10-02 18:59] Ocramius commented on #693
Thinking further about this, I wonder if this is an X/Y problem.

The design behind locators us around laziness, for both performance reasons and to avoid side-effexts where possible: enumeration is a completely different scope.

So I'm now wondering what the use-case for such APO is, given that in-memory symbols can be enumerated without this library.

[2020-10-02 19:39] carlosas commented on #693
I'm not sure if you are talking about `\ReflectionExtension` but AFAIK (which is not much) this can be only used for extensions installed in the running system.

I'm using this library in addition to php-parser for a static analysis tool. At some point I need to know if a certain item type is from the core/extensions to treat them differently. Since you are already managing this list in the librar

[2020-10-04 13:38] Ocramius commented on #693
Perhaps it would be information added to a `LocatedSource` then? 🤔

[2020-10-05 10:20] AntiPaste commented on #689
I'm also encountering this issue. I'm not sure if `BetterReflection` is the problem or if this should be reported to https://github.com/rector/rector or perhaps something in-between like https://github.com/phpstan/phpstan which is actually the library using `BetterReflection`.

Here is my minimal reproduction with just `rector/rector` and `briannesbitt/carbon` installed: https://github.com/AntiPas

[2020-10-05 10:33] Ocramius commented on #689
Probably interesting to look at how `rector` or `phpstan` are initializing the source locators.

Once we have that, we can reproduce it in isolation with just this library, which would expose the actual problem.

[2020-10-05 10:45] AntiPaste commented on #689
Quick update: downgrading `phpstan/phpstan` to 0.12.42 and `nikic/php-parser` to v4.9.0 solves the problem. `phpstan/phpstan` 0.12.43 requires `nikic/php-parser` >= 4.10.0 so it's difficult to say which one is actually causing the issue, but it seems like it's not this project.

[2020-10-05 10:57] Ocramius commented on #689
@AntiPaste did the `roave/better-reflection` version change at all?

[2020-10-06 17:54] carlosas commented on #693
This would work for items that BetterReflection extracts from the AST by itself (parents, method returns, etc). In my case I'm also extracting types from the method body manually, so it wouldn't be possible to check if a certain item from there is internal or not. That's why I suggested an isolated service that would be able to check or return string classnames.

If you think exposing the raw info

[2020-10-06 18:04] kukulich commented on #693
@carlosas I'm not sure if I understand you correctly but the list is here: https://github.com/JetBrains/phpstorm-stubs/blob/master/PhpStormStubsMap.php

[2020-10-07 09:37] Aerendir commented on #689
@TomasVotruba , please, can you have a look here?

[2020-10-07 09:43] Ocramius commented on #689
Eh, folks, I know @TomasVotruba is a helpful person, but this really needs your input/debugging first :P

Specifically, in the phar you are using, look for where better-reflection is being instantiated.

[2020-10-07 09:52] Ocramius commented on #693
@carlosas I didn't understand this section:

Given a symbol name, cannot you do a lookup?

Besides that, does @kukulich's feedback address your concerns? That's effectively what we use to reflect internals, **when** a stub is defined

[2020-10-07 10:19] Aerendir commented on #689
@Ocramius , the fact is that I don't use any Phar 😅 Fr this reason I don't know from where the error comes.

I'm using Bamarni to manage dev tools, but at this point I don't think it is the root cause: @AntiPaste, are you using `bamarni/composer-bin-plugin`?

For me debuggin this issue is a really complex task: here we have four packages involved: Rector, PHPStan, BetterReflection and, maybe, Comp

[2020-10-07 12:12] carlosas commented on #693
That's true. If the information is in the LocatedSource I guess I could create an Identifier and locate it. I'm not sure about the performance of this at big scale, but it seems this might be the correct way to do it.

Regarding PhpStormStubsMap: I mentioned it in the first message because it's what I'm actually using, but I thought there is no need to have this dependency (and maintain it or do f

[2020-10-10 11:23] ondrejmirtes commented on #658
I don't know what changed and when, but `public function throw()` is now parsed fine... https://github.com/ondrejmirtes/BetterReflection/commit/45bfa96bdb201734a79067a384a71c8eded9724d

[2020-10-10 11:27] ondrejmirtes commented on #658
Looks like it was ever a problem only on PHP 5? https://3v4l.org/u6IhU

[2020-10-10 18:58] Ocramius commented on #658
Perhaps it was a bug in an underlying dependency then?

Is there a test case we can introduce to prevent a regression here?

[2020-10-10 19:02] ondrejmirtes commented on #658
I think PhpStorm has the prefix because it would confuse their parser. But I think the PHP 7 RFC “context sensitive lexer” solves this. The test is simply that the Generator stub is parsed without a syntax error and that Generator::throw() exists.

[2020-10-14 05:51] paali commented on #689
Just a quick update (maybe not yet helpful). It seems that the problem is that `\PHPStan\Reflection\BetterReflection\SourceLocator\AutoloadSourceLocator::locateClassByName` resolves the line number for the Localization trait as 36. But `\PhpParser\NodeAbstract` resolves the line number for the Trait as 24.

[code]
I haven't find out yet who sets up the NodeAbstract linenumber. I'll try to continue

[2020-10-14 05:54] paali commented on #689
Removing the class aliasing also seems to make the problem disappear.

[2020-10-30 09:42] ondrejmirtes opened #701 "PHP 8 compatibility"
I already did most of these steps [in my fork](https://github.com/ondrejmirtes/BetterReflection) because I want PHPStan to be ready for PHP 8 on day one or sonner.

This is what needs to be done in BetterReflection in order to fully support PHP 8:

- [x] Adapter signatures compatibility (https://github.com/ondrejmirtes/BetterReflection/commit/0acd4522bd500547cf2574acb3b1a04b177869ae)
- [x] `mixed`

[2020-10-30 09:54] Ocramius commented on #701
I mean, PHP 8 support is certainly to be added, but no work has been done here so far because we're all quite busy with other work at the moment, so I would expect us to be somewhere close to compliance in January or such :D

If the patches are QA'd properly (reads: tests + acceptable MT) and made separate, they are very welcome! :+1:

[2020-11-26 02:15] limingxinleo commented on #701
PHP8.0 was released.

[2020-11-26 09:59] ghost commented on #701
please support PHP8, thanks

[2020-11-26 10:52] Ocramius commented on #701
As I mentioned above:

If you want to help out, send patches for the bullet points that @ondrejmirtes wrote above

[2020-12-14 09:03] Ocramius commented on #701
Marking this issue as a blocker for `4.12.0` - we'll try getting PHP 8 support in that version.

[2020-12-14 17:36] tomasnorre commented on #654
It's not directly related to the topic, but is it on purpose that you don't execute the mutation test with more threads?

I know that there are a lot of tests and therefore the mutation tests takes quite some time.
I have tested locally with and without the threads' parameter.

| Without threds | With threds=8 |
|---	|---	|
| 10m 46s | 6m 10s|

The GitHub Action Steps for mutation test is currentl

[2020-12-14 18:56] Ocramius commented on #654
It's not really a blocker to getting things done on this repo, so far.

IMO worth checking https://github.com/infection/infection/releases/tag/0.20.0 instead, which will lower mutation tests to a fraction of what they currently are.

[2020-12-14 19:03] tomasnorre commented on #654
That's right. That would be an improvement with more "effect".

I'm thinking CI should be for fast feedback that's why I am addressing this.

[2020-12-14 19:13] Ocramius commented on #654
Yes, well, there are a lot of "fast" checks (phpunit/psalm/phpcs) and then mutation testing will always take a while, and it will only get worse if we don't use more functional/minimalist coding approaches :-)

There's also https://github.com/Roave/infection-static-analysis-plugin, which may help reducing mutation test time even further.

[2020-12-14 19:19] tomasnorre commented on #654
The roave/infection-static-analysis-plugin you use already. Or do I misunderstand you?

[2020-12-14 19:22] Ocramius commented on #654
Oh wow, didn't realize we were already using it here

[2020-12-14 20:15] tomasnorre commented on #654
I only saw it as I was looking for which check to run locally before committing.

[2020-12-14 20:58] tomasnorre opened #714 "Misleading exception message"
After adding #711, the exception message should be correct. I overlooked this as part of my PR before.

I've just seen that the exception needs to be adjusted. It still contains path-info to vendor/composer/installed.json

https://github.com/Roave/BetterReflection/blob/ecd6c1e0af34df5bc2d94f850f2b37f1dc29b782/src/SourceLocator/Type/Composer/Factory/Exception/MissingInstalledJson.php#L16

It's not

[2020-12-14 21:18] tomasnorre commented on #714
There are multiple things still off. This is also referring to vendor-folder hardcoded. Will see that I get it all fixed

https://github.com/Roave/BetterReflection/blob/ecd6c1e0af34df5bc2d94f850f2b37f1dc29b782/src/SourceLocator/Type/Composer/Factory/MakeLocatorForInstalledJson.php#L40

[2020-12-15 05:11] michaeljoelphillips opened #715 "ReflectionObject adapter does not override getReflectionConstants"
See the failing test case at 0f50ad73cbf2dff7e7252864680e16ce20603e1e and the [thrown exception in core](https://github.com/php/php-src/blob/php-7.4.13/ext/reflection/php_reflection.c#L98):
[code]
[code]

[2020-12-15 09:58] Ocramius commented on #715
@michaeljoelphillips unclear what has to be done here - I get that core throws, but what are we doing wrong on our end?

[2020-12-15 19:14] Ocramius commented on #714
I replaced the URIs with absolute ones (use the `Y` shortcut to generate those on github/gitlab :-) )

[2020-12-15 20:45] tomasnorre commented on #714
Will see when I find the time to clean up the rest. I have some changes locally, but running into the next problem, so will see if it is related or something else in my project setup that should be addressed in a different issue if at all.

[2020-12-16 16:59] asgrim commented on #714
Fixed by #716

[2020-12-16 17:00] #714 closed, assigned to tomasnorre

[2020-12-16 18:39] tomasnorre opened #718 "Custom `vendor-dir` not working in `Psr4Mapping`"
I'm really sorry, that I'm not doing my homework good enough. I have found another issue with my change. Will try to have it don't fully this time.

Sorry.

**Affected:** 4.12.1 & 4.13.x

**Problem:**

Even with the latest fix from 4.12.1 the custom vendor-dir isn't working, the `Psr4Mapping` is throwing an exception as it still thin that the folders should be found in `*/vendor/*`which isn't the

[2020-12-16 18:50] Ocramius commented on #718
@tomasnorre no need to be sorry: you are on it, and all looked fine in the patch anyway :-)

It's actually super useful that you do this sort of analysis when opening new issues!

[2020-12-17 17:49] Ocramius commented on #718
Handled in #719

[2020-12-17 17:49] #718 closed, assigned to tomasnorre

[2020-12-21 21:05] michaeljoelphillips commented on #715
See the fix in #721.  Since we don't call the parent constructor in the adapter classes, we can't allow the parent reflection methods to be called.

[2020-12-30 08:06] huangzhhui commented on #701
I notice that `4.12.0` has been released in 16 days ago, any progress about PHP 8 compatibility ?

[2020-12-30 09:48] Ocramius commented on #701
@huangzhhui nay: busy with other work, but please send patches, if you can help out.

[2021-01-09 20:28] #715 closed, assigned to Ocramius, michaeljoelphillips

[2021-01-21 17:06] DanielBadura commented on #701
I think the result we are aiming here is to support ^7.4 and ^8.0 or do we want to drop 7.4 support?
Im asking because of the `::export` method from `ReflectionClass`,  `ReflectionFunction` etc. got dropped in 8.0 and this would result in big if/else on `PHP_VERSION_ID` i suppose.

[2021-01-21 18:07] Ocramius commented on #701
@DanielBadura at first `^7.4 || ~8.0.0`, and after that only `~8.0.0` in a new minor release: that allows upgrading easily.

[2021-02-11 11:49] aik099 opened #732 "Getting namespaces/classes in a file"
Hi,

I'm migrating from https://github.com/goaop/parser-reflection/ library and I'm interested in how do you do the `ReflectionFile` thing here. In that library it works like this:

1. create a `ReflectionFile` class instance on a specific file
2. call `getFileNamespaces` method to get instances of `ReflectionFileNamespace` class
3. then for each namespace object you can ask what's inside it, e.g.

[2021-02-11 12:15] asgrim commented on #732
You can fetch all the classes in a single file here: https://github.com/Roave/BetterReflection/blob/4.13.x/docs/usage.md#fetch-reflections-of-all-the-classes-in-a-file - if you need more control over how code is analysed, check out Source Locators: https://github.com/Roave/BetterReflection/blob/4.13.x/docs/usage.md#sourcelocators

We don't have the concept of fetching "all namespaces in a file" an

[2021-02-15 16:21] aik099 commented on #732
@asgrim , would you be interested in a PR where such functionality is added?

[2021-03-27 13:03] lisachenko commented on #701
Hello, gentlemen! Are there any ETA on when PHP8 will be supported by BR? @ondrejmirtes maybe you can work on this? Unfortunately, I don't have too much time now to maintain my libraries and `goaop/parser-reflection` is one of them which can be replaced with BR, but if BR won't have PHP8 support soon, I might opt to keep supporting it...

[2021-03-27 13:08] Ocramius commented on #701
On my end, I had almost zero time for OSS since December: trying to mostly
fit it when something work-related requires intervention.

The whole COVID situation is a massive deterrent to invest more time than
necessary in OSS, and it will likely stay like this until I'm free to leave
my home again, or else the net result will be a clear computer-related
burnout 😩

Any help in improving the lib is v

[2021-03-27 13:17] lisachenko commented on #701
Thank you @Ocramius! I can completely understand this, no worries.

It is very important to prevent OSS burn out, especially for you, as half of most popular PHP libraries were invented/developed by you, so want just to say thank you for working on all of them 👍

It's a spring time, so relax a little bit, drink your favourite beer, prepare a BBQ and of course, stay healthy!

PS. There are small ch

[2021-04-20 05:34] king40or1 commented on #689
How can I update

[2021-06-22 07:59] lanlin commented on #701
[code]

[2021-06-28 05:57] cmmer opened #747 "Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 36864 bytes)"
Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 36864 bytes) in vendor/roave/better-reflection/src/SourceLocator/Ast/Parser/MemoizingParser.php on line 47

What's going on

[2021-06-28 06:11] asgrim commented on #747
You're running out of memory allowed by PHP. Better Reflection is quite memory intense, I'm afraid 128mb almost certainly isn't enough. You would need to increase PHP memory limit.

[2021-08-12 12:45] shaffe-fr commented on #701
Hi,
From the list in the first comment, is there a specific task that is delaying PHP 8 support?
I can give it a try to solve it!
Thanks

[2021-08-12 13:36] Ocramius commented on #701
@shaffe-fr all tasks need implementing: pick one, start doing it, and we'll get closer to having `"php": "^8"` support.

[2021-08-27 11:19] dereuromark commented on #701
We now also switched to https://github.com/ondrejmirtes/BetterReflection/ as it doesn't block PHP8 usage
Works nicely.

[2021-08-27 16:33] Ocramius commented on #701
@dereuromark which is sad: now we have to basically backport stuff, instead of actually working collaboratively :-(

In practice, of all people that pinged here, we've seen very little help/involvement, and a lot of workarounds and hacking around stuff instead of actually "bringing it home", and actually being of aid.

[2021-08-27 17:07] DanielBadura commented on #701
It is still on my list. Unfortunatly i had not much time lately :(

[2021-08-29 07:24] ondrejmirtes commented on #701
I don't recommend using my fork because I'm interested only in bug reports that manifest in PHPStan. So bugs in functionality that's not used by PHPStan will not be fixed.

I've also removed some functionality from the fork to trim down on dependencies.

[2021-08-29 07:26] ondrejmirtes commented on #701
If anyone wants to be of help, they can go through the commits I added in master of my fork, and submit them as separate PRs here.

[2021-09-08 19:51] WyriHaximus commented on #701
@ondrejmirtes @Ocramius Any suggestions which to pick up first or can I just spree that master branch as PR per commit?

[2021-09-08 19:58] ondrejmirtes commented on #701
@WyriHaximus Maybe read all the commits first so you learn what's going on there, maybe you'll realize some changes should be grouped together 😊

[2021-09-08 19:59] WyriHaximus commented on #701
@ondrejmirtes Yeah, and probably also the ones in the checklist of this issue :).

[2021-09-08 21:06] kukulich commented on #701
@Ocramius Would be possible to make some branch PHP8 only and do major release when PHP8 support is done? It should be much easier...

[2021-09-08 22:12] Ocramius commented on #701
A major release shouldn't be needed, since this is just a dependency change.

In theory, a `^7.4|~8.0.0` release should be attempted to allow for downstream to upgrade.

Are there bits that require a complete cut/BC break?

[2021-09-09 06:38] kukulich commented on #701
@Ocramius

It will be much easier to create PRs. Eg. make `PhpStormStubsSourceStubberTest` to work on PHP 7.4 and PHP 8.0 will be massive pain.

`::export()` methods are removed on PHP 8, so it would be fine to remove them here too - are useless anyway. And it will be BC break.
https://www.php.net/manual/en/reflectionclass.export.php

There may be other places where "PHP 8 only" can help.

I must

[2021-09-09 06:43] WyriHaximus commented on #701
Same here @kukulich, how about we use this issue to coordinate the work so we don't do double work and we can all pick up a part as long as we communicate who does what.

[2021-09-09 07:06] kukulich commented on #701
@WyriHaximus It would be perfect if we can split the work between us :)

[2021-09-09 07:11] Ocramius commented on #701
@kukulich I'd say that a `~8.0.0` (only) release is better than no release at all then: if you think we need to drop compatibility to move forward in any way, then let's do it 👍

[2021-09-09 07:16] kukulich commented on #701
@WyriHaximus I'll try to first improve https://github.com/Roave/BetterReflection/pull/750 to make BR run on PHP 8 with updated dependencies.

[2021-09-11 17:21] WyriHaximus commented on #701
@kukulich Ok awesome, then let you get that in first before we divide and conquer. Unless there is something I can already start on. Have time reserved for this tomorrow so I'll also get familiar with the code and the changes Ondřej did.

[2021-09-11 17:33] kukulich commented on #701
@WyriHaximus I think you can try anything based on my branch. I will try to make the build green as a start.

[2021-09-11 17:44] WinterSilence opened #751 "Add method to detects throws errors/exceptions in functions"
Something like this:

[code]
or
[code]

[2021-09-11 23:35] asgrim commented on #751
Sounds good to me in principal 👍

[2021-09-13 12:10] WyriHaximus commented on #701
@kukulich Cool, starting with `ReflectionNamedType::isBuiltin`

[2021-09-13 12:32] WyriHaximus commented on #701
Now that I'm working on it, will probably do the named and union type changes in one go for reflection type

[2021-09-13 15:30] WyriHaximus commented on #701
@kukulich Build #752 on your work, probably have to rebase it when you're done

[2021-09-14 16:11] kukulich commented on #701
These are fixed/implemented in #750 and #752 :

- Reflecting union types
- `ReflectionType::__toString` breaking change in PHP 8
- `ReflectionSourceStubber` misses to generate return types
- `isBuiltin()` is supposed to be only on `ReflectionNamedType`
- `PhpStormStubsSourceStubberTest` will fail a lot
- Constant of value `null` as a default parameter value no longer makes the parameter type nulla

[2021-09-15 16:31] kukulich opened #754 "Don't ignore <MissingImmutableAnnotation errorLevel="suppress" /> by Psalm"

[2021-09-16 11:03] kukulich commented on #701
https://github.com/Roave/BetterReflection/pull/759

- Only `__construct` methods can be considered constructors

[2021-09-17 07:07] kukulich commented on #679
Fixed by https://github.com/Roave/BetterReflection/pull/750

[2021-09-17 07:12] kukulich commented on #658
Fixed in https://github.com/Roave/BetterReflection/pull/761

[2021-09-17 07:14] kukulich commented on #620
Fixed in https://github.com/Roave/BetterReflection/pull/760

[2021-09-17 07:30] kukulich commented on #416
This can be closed :)

[2021-09-17 07:31] kukulich commented on #413
Solved in https://github.com/Roave/BetterReflection/pull/750

[2021-09-17 07:55] #413 closed

[2021-09-17 07:58] #416 closed

[2021-09-17 07:59] #620 closed

[2021-09-17 09:19] Ocramius commented on #658
Thanks @kukulich!

[2021-09-17 09:19] #658 closed

[2021-09-17 12:49] kukulich commented on #486
It's probably already fixed in https://github.com/Roave/BetterReflection/pull/652

[2021-09-17 15:35] #486 closed

[2021-09-17 15:35] Ocramius commented on #486
Thanks @kukulich!

[2021-09-17 16:17] kukulich commented on #679
@Ocramius This can be close.

[2021-09-17 16:19] #679 closed

[2021-09-17 16:37] #663 closed

[2021-09-18 10:46] #434 closed

[2021-09-18 10:46] #645 closed

[2021-09-18 10:46] #657 closed

[2021-09-18 15:05] kukulich commented on #701
`Stringable`: https://github.com/Roave/BetterReflection/pull/770

[2021-09-18 20:26] kukulich commented on #701
@WyriHaximus Btw I'll try `Promoted properties in constructor` as next.

[2021-09-18 20:51] WyriHaximus commented on #701
@kukulich Came across that in a few places already <3

[2021-09-19 03:52] sasezaki opened #773 "`composer require` without specified version tries install version `0.1.0` on PHP 8.0."
Hi. I point that current README.md has Installation document problem.

https://github.com/Roave/BetterReflection/blame/b6781dc6004da46dc685a2b48ab6716f94c0e0b1/README.md#L39

### with PHP 8.0
[code]
[code]

### with PHP 7.4
[code]

I assume this problem is caused by default branch is just changed to 5.0.

So, I suggest that Installation section should be changed to
 `composer require roave/better-

[2021-09-19 04:11] Ocramius commented on #773
Not a bug: this is normal behavior of composer, when old versions have no dependency constraints.

This is not fixable, and it's the reason why open-ended version selectors like `>=7` are **NOT** viable.

You just happened to be unlucky enough to get a very old version picked by `composer/composer` :-\

[2021-09-19 04:11] #773 closed, assigned to Ocramius

[2021-09-20 06:28] kukulich opened #776 "`BetterReflectionSingleton::instance()` or `new BetterReflection()`"
There are both usages in the code and we should probably get rif of one of them.

[2021-09-20 06:29] Ocramius commented on #776
Doesn't `BetterReflectionSingleton` only exist in the test suite?

[2021-09-20 06:45] kukulich commented on #776
It's look you're right :) And `new BetterReflection()` is only in `BetterReflectionTest`.

[2021-09-20 06:45] #776 closed, assigned to nobody

[2021-09-20 18:08] #504 closed

[2021-09-20 18:08] #664 closed

[2021-09-23 13:07] Ocramius commented on #701
I think we're only missing:

 * promoted properties
 * attributes

Then we're probably ready to go with `8.0`

[2021-09-23 15:47] kukulich commented on #144
I think this can be closed. I've probably already implemented everything mentioned in https://github.com/Roave/BetterReflection/issues/144#issuecomment-153094143. And `export()` methods were removed.

[2021-09-23 15:48] Ocramius commented on #144
Will mark it as done: `::export()` is completely gone :+1:

[2021-09-23 15:48] #144 closed

[2021-09-23 18:03] kukulich commented on #701
Promoted properties: https://github.com/Roave/BetterReflection/pull/785

[2021-09-25 20:34] kukulich commented on #701
Attributes: https://github.com/Roave/BetterReflection/pull/787

[2021-09-26 14:20] Ocramius opened #789 "Implement adapters for `ReflectionAttribute`, `ReflectionEnumPureCase`, `ReflectionEnumBackedCase` and `ReflectionEnumUnitcase` when supported by PHP"
Ref: https://bugs.php.net/bug.php?id=81474

[2021-10-02 13:29] sasezaki commented on #789
currently, no longer non-final at PHP 8.1 .
For 8.0, today I requested make ReflectionAttribute non-final at https://github.com/php/php-src/pull/7545 .

[2021-10-02 22:31] WinterSilence opened #791 "Result of `BetterReflection\ReflectionParameter::isDefaultValueAvailable()` not similar to `\ReflectionParameter::isDefaultValueAvailable()`"
[code]
`Roave\BetterReflection\Reflection\ReflectionParameter::isDefaultValueAvailable():`
https://github.com/Roave/BetterReflection/blob/74aaf7e9a446590f5a461203c379d0580c614faa/src/Reflection/ReflectionParameter.php#L278

[2021-10-03 00:09] Ocramius commented on #791
Could you perhaps clarify the expectations? Can this be written in form of a failing test case perhaps?

[2021-10-03 00:51] WinterSilence commented on #791
@Ocramius replace `\ReflectionParameter` to `Roave\BetterReflection\Reflection\ReflectionParameter`

[2021-10-03 05:24] kukulich commented on #791
I plan to solve this (with some other things) after #787 and #772 are merged.

[2021-10-03 05:45] kukulich commented on #791
Hmm... After a coffee... I'm not able to reproduce this bug.

@WinterSilence Can you please create failing test?

[2021-10-03 05:58] WinterSilence commented on #791
@kukulich
[code]

[2021-10-03 06:10] kukulich commented on #791
@WinterSilence this is not failing test…

[2021-10-03 06:12] WinterSilence commented on #791
@kukulich I told something about failing tests?

[2021-10-03 06:21] kukulich commented on #791
@WinterSilence I’m not able to reproduce any bug. So you have to prepare failing test if you want we fix it. Demo is not failing test.

[2021-10-03 06:43] WinterSilence commented on #791
@kukulich what's return demo? `true false`?

[2021-10-03 06:53] kukulich commented on #791
@WinterSilence Please create the failing test.

[2021-10-03 07:22] WinterSilence commented on #791
@kukulich https://github.com/Roave/BetterReflection/pull/795

[2021-10-03 09:43] WyriHaximus commented on #701
@Ocramius @kukulich Sorry got side tracked for a few days, is there anything besides attributes that needs to be done?

[2021-10-03 09:45] kukulich commented on #701
@WyriHaximus Nope, PHP 8 is “done”. You can try to do something in PHP 8.1 - eg. intersection types :)

[2021-10-03 10:57] WyriHaximus commented on #701
@kukulich Looks like a royal pain in the ass, I'm on it

[2021-10-03 11:01] kukulich commented on #701
@WyriHaximus you can start here: https://github.com/Roave/BetterReflection/pull/767

[2021-10-03 11:13] WyriHaximus commented on #701
@kukulich Cool will rebase it off that one later. So far it looks very similar to the work I've done on the named and union types so this could be a lot easier than I thought.

[2021-10-03 11:50] WyriHaximus commented on #701
@Ocramius @kukulich Was just looking at `ReflectionUnionType` and AFAIK union types can't be nested, noir does that make sense. Then shouldn't we just filter out the `ReflectionNamedType`s like this? https://github.com/WyriHaximus-labs/BetterReflection/commit/356777b9e10363b51a6fc1d6e9411e0dec2fdc91#diff-7a5518cccd601dbefec3f22042c8486f69b20ebd3fccabc87bf0f44b9c2cbedf

[2021-10-04 12:46] kukulich commented on #789
Ok, `ReflectionAttribute` in 8.0.12 should not be final 👍

[2021-10-11 13:20] kukulich commented on #603
Implemented in https://github.com/Roave/BetterReflection/pull/798

[2021-10-11 13:20] #603 closed

[2021-10-11 13:27] asgrim commented on #791
As per [comment](https://github.com/Roave/BetterReflection/pull/795#issuecomment-940031708):

[2021-10-11 13:27] #791 closed, assigned to asgrim

[2021-10-11 14:46] Ocramius commented on #789
So I suppose we need to use `^8.0.12` as dependency then :-)

[2021-10-11 14:49] kukulich commented on #789
Yes, waiting for the release :)

[2021-10-12 11:59] WinterSilence commented on #791
@asgrim method still ignore `null` as default value
[code]

[2021-10-12 13:10] asgrim commented on #791
@WinterSilence Sorry, but this example still does not return `false`. Are you sure there are no extensions / other things interacting oddly with your setup?

[2021-10-12 15:26] WinterSilence commented on #791
@asgrim  after update all fine

[2021-10-12 16:36] Ocramius commented on #791
@WinterSilence what version did you update to? Just trying to pin this bug to a specific milestone.

[2021-10-12 17:45] WinterSilence commented on #791
@Ocramius update to dev-master

[2021-10-12 18:53] kukulich opened #806 "PHP 8.1 support"
- [x] Green build https://github.com/Roave/BetterReflection/pull/767
- [x] Readonly properties https://github.com/Roave/BetterReflection/pull/811
- [x] Final constants https://github.com/Roave/BetterReflection/pull/814
- [x] `never` type https://github.com/Roave/BetterReflection/pull/812
- [x] `ReflectionClass::isEnum()` and `ReflectionObject::isEnum()` https://github.com/Roave/BetterReflection/pu

[2021-10-14 11:23] #616 closed

[2021-10-22 08:35] Ocramius commented on #747
Closing here: @asgrim's comment pretty much explains it.

[2021-10-22 08:35] #747 closed, assigned to nobody

[2021-10-22 08:36] Ocramius commented on #701
#787 is the last bit missing here, but beware that we will only support `php:^8.0.12` onwards.

[2021-10-22 08:38] Ocramius commented on #732
I think https://github.com/Roave/BetterReflection/blob/89b3a0f3ee48a53b2907921bf5715db305329c62/docs/usage.md#fetch-reflections-of-all-the-classes-in-a-file is a sufficient solution to this:

 1. fetch all symbols in a file
 2. deduce the namespace for each symbol

This is transformation to be done in userland, not here: this library should rather focus on finding the symbols, not categorizing the

[2021-10-22 08:38] #732 closed, assigned to nobody

[2021-10-22 08:39] Ocramius commented on #693
Closing here - discussed, and IMO solved.

[2021-10-22 08:39] #693 closed, assigned to carlosas

[2021-10-22 08:39] Ocramius commented on #654
Closing here: CI runs work again.

[2021-10-22 08:41] Ocramius commented on #615
This is mostly solved by #772.

I suggest that we let userland implement this for now, and later on we can go back to it and add a decorator for `Reflector` by default later, should it be interesting.

[2021-10-22 08:42] Ocramius commented on #689
This should be solved by #802 - needs checking, but beware that it will be a major version upgrade.

[2021-10-22 08:45] Ocramius commented on #386
Aligned to decision in https://github.com/Roave/BetterReflection/issues/732, closing here.

What BetterReflection does and should do is:

 * retrieving the "located source", which tells us where something is
 * retrieving the AST for said source (class, function, etc), for inspection by user

Further investigation of such AST is a bit out of scope for the library itself, since we mostly care about

[2021-10-22 08:54] Ocramius commented on #387
Looking further at how we worked internally on these concerns with docblocks, we used a number of `@internal` utilities at this point.

I don't see this API becoming very stable here in the near future, so my endorsement is to stick with concrete types, and use PHP 8.0 union types to glue them together for now.

[2021-10-22 08:56] Ocramius opened #824 "`psalm` runs broken on latest `5.0.x` due to stubs not being loaded"
[code]

https://github.com/Roave/BetterReflection/runs/3973567477?check_suite_focus=true

This is strictly related to https://github.com/Roave/BetterReflection/pull/818

[2021-10-22 08:57] Ocramius commented on #612
IMO related to https://github.com/Roave/BetterReflection/issues/615

I find that the current approach of "build an AST Locator from a `composer.json`" works quite well, so I'd defer memoization to post-5.x release, since #772 made it much simpler to implement memoization (also for internals)

[2021-10-22 08:59] Ocramius commented on #563
Closing here: problem to be re-investigated with a test case.

We already handle the `files` section in the latest iterations of the library (not yet released, but also in 4.x): https://github.com/Roave/BetterReflection/blob/89b3a0f3ee48a53b2907921bf5715db305329c62/src/SourceLocator/Type/Composer/Factory/MakeLocatorForComposerJson.php#L108-L116

[2021-10-22 09:02] kukulich commented on #824
https://github.com/Roave/BetterReflection/pull/823

[2021-10-22 09:20] Ocramius commented on #414
Closing here: we won't have any MacOS/Windows testing any time soon, and this is not achievable.

My general suggestion to folks working on MacOS or Windows is to set up a dockerized environment, because you won't deploy to MacOS/Windows anyway.

If you **do** deploy against MacOS/Windows machines, then you probably have the $$$ to fund development of such work here anyway: consider paying for tha

[2021-10-22 09:20] #414 closed, assigned to Ocramius

[2021-10-22 09:21] Ocramius commented on #163
Closing here: since a `ReflectionGenerator` is built from an instance of a `Generator`, it is incompatible with the general design background of this library.

[2021-10-22 09:22] Ocramius commented on #142
Closing here: IMO not necessary to have helper/utility for this specific use-case.

[2021-10-22 09:24] #824 closed, assigned to kukulich

[2021-10-22 09:32] Ocramius commented on #613
Closing here - crashes highlight the need for fixes in the codebase, and relaxing this will just make it harder to identify problems in downstream consumers.

Yes, it's a pain, because there will always be broken libraries, with weird autoloading scenarios, but a general assumption here is that symbols **can** be reflected.

As for `installed.json`, we do have a way to create a locator from `compo

[2021-10-22 09:35] Ocramius commented on #561
Similar to https://github.com/Roave/BetterReflection/issues/154#issuecomment-643183961, we can't really do this without turning BetterReflection into a much more complex code analyzer.

This kind of inspection is probably better suited for @phpstan or @vimeo /psalm, which can also detect callable access (so not direct FnCall nodes)

[2021-10-22 09:51] Ocramius commented on #480
Closing here: as mentioned above, this is not really a bug, but just a quirk of how classes can be declared in different locations depending on installed extensions.

The only alternative here is to declare your own `PDO` stub.

Closing here.

[2021-10-22 09:52] Ocramius commented on #21
Closing here: the concept has worked so far, and internal refactoring can be done as we go anyway.

[2021-10-22 09:53] Ocramius commented on #26
Closing here - `@inheritDoc` has no reflection impact, and if we want to switch to actual type inference through inheritance, relying on just reflection is not sufficient anyway.

Inferred vs declared types could come from a more complex engine such as @phpstan or @vimeo /psalm

[2021-10-22 09:55] Ocramius commented on #408
IMO an `array_filter()` very much sufficient here: closing here.

[2021-10-24 15:09] Ocramius commented on #701
Closing here: we'll probably still finish up PHP 8.1 support before releasing, but all the topics in here are pretty much exhausted 👍

[2021-10-24 15:09] #701 closed, assigned to Ocramius

[2021-10-24 15:32] ondrejmirtes commented on #701
Thank you, I'm really happy about this 😊 I'm probably gonna have to devote November and December to bringing PHP 8.1 support into PHPStan, and this is gonna help me a lot 😊

[2021-11-05 16:34] #789 closed, assigned to Ocramius, kukulich, asgrim

[2021-11-05 16:34] #806 closed, assigned to Ocramius, kukulich, asgrim

[2021-11-05 16:36] Ocramius commented on #806
I'm gonna clean up the remaining tasks and will try this out ASAP on `roave/backward-compatibility-check`: we're really close! \o/

[2021-11-13 08:07] kukulich commented on #426
This can be closed. Everything is implemented:

https://github.com/Roave/BetterReflection/blob/5.0.x/src/Reflection/Adapter/ReflectionMethod.php#L221
https://github.com/Roave/BetterReflection/blob/5.0.x/src/Reflection/Adapter/ReflectionMethod.php#L237
https://github.com/Roave/BetterReflection/blob/5.0.x/src/Reflection/Adapter/ReflectionMethod.php#L255

[2021-11-13 11:03] Ocramius commented on #426
Thanks @kukulich!

[2021-11-13 11:03] #426 closed

[2021-11-13 15:14] kukulich commented on #428
This is fixed in https://github.com/Roave/BetterReflection/commit/256f09282c338d54e95fcb3190eb916bdba144eb

[2021-11-13 20:48] #428 closed

[2021-11-13 20:48] Ocramius commented on #429
This is worth re-testing against `5.0.x`

[2021-11-13 21:11] kukulich commented on #754
I hope this is "fixed" by https://github.com/Roave/BetterReflection/commit/9fde8ea0f764391172906cc1d9c86a229bacbf2f

I'm not sure it can be done better in adapters.

[2021-11-13 21:13] Ocramius commented on #754
I think this is a good enough solution for now: downstream consumers of adapters rely on `\Reflection*` symbols anyway, so they will detect immutability accordingly.

Our code does not mutate symbols (and the little bit of what's left in code mutation should probably be moved out, at some point)

[2021-11-13 21:13] #754 closed, assigned to kukulich

[2021-11-13 21:36] Ocramius commented on #265
Closing here: the question itself is answered

[2021-11-13 21:36] #265 closed

[2021-11-13 21:37] Ocramius commented on #399
@lookyman can you perhaps try this out again with latest `5.0.x`? Need to see if this is still applicable after 3 years of patching around...

[2021-11-13 21:40] Ocramius commented on #417
Closing: this is indeed handled by #461.

This is strictly related to #612 and #614 too.

The problem itself is that each source locator has a "strategy" for finding symbols, and some locators are just "dumb", and should probably stay dumb. Implementing custom/smarter locators has been done in #461 (for composer-friendly projects), and changing the pre-existing ones is not necessary, and will only

[2021-11-13 21:40] #417 closed

[2021-11-13 21:42] Ocramius commented on #441
Looking back at this: we should install `roave/backwards-compatibility-check` as its own independent tool, rather than attempting to fit it into `require-dev`.

The dependency would otherwise lead to failed `composer update` and `composer install` all over the place.

Creating a `tools/` directory managed by @dependabot is more viable.

[2021-11-13 21:44] Ocramius commented on #438
Closing here: I had marked this as "won't fix", but didn't close 🤷

[2021-11-13 21:44] #438 closed

[2021-11-13 21:45] Ocramius commented on #429
Note: `infection/infection` does run each test in process isolation, so I think this is already verified by our CI stack.

Closing here.

[2021-11-13 21:45] #429 closed

[2021-11-13 21:49] Ocramius commented on #614
Possibly related to how the `AbstractSourceLocator` does not cache the created "located source":

https://github.com/Roave/BetterReflection/blob/5b2a0a79f3ec993b94d183e04c66d4ce99ea247c/src/SourceLocator/Type/AbstractSourceLocator.php#L39-L49
https://github.com/Roave/BetterReflection/blob/5b2a0a79f3ec993b94d183e04c66d4ce99ea247c/src/SourceLocator/Type/AbstractSourceLocator.php#L52-L59

Note how th

[2021-11-20 09:08] kukulich opened #865 "Automerge Dependebot PR"
Current solution does not work so we can try something else:

1. We can use only one workflow
It works in https://github.com/Roave/BackwardCompatibilityCheck/

2. We can try https://github.com/WyriHaximus/github-action-wait-for-status
It works in https://github.com/phpstan/phpstan-src/blob/master/.github/workflows/merge-bot-pr.yml

3. Or we can try something with GitHub "Auto merge" functionality,

[2021-11-20 09:18] asgrim commented on #865
@kukulich I rolled this one out to another project: https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/automating-dependabot-with-github-actions#enable-auto-merge-on-a-pull-request

See: https://github.com/browscap/browscap-site/blob/master/.github/workflows/automatic-merge-browscap-updates.yml
I haven't done a full end to end release yet

[2021-11-20 09:27] kukulich commented on #865
@asgrim Does it need the "Auto merge" feature enabled?

[2021-11-20 09:32] asgrim commented on #865
Yes

On Sat, 20 Nov 2021, 09:27 Jaroslav Hanslík, ***@***.***>
wrote:

[2021-11-20 09:36] kukulich commented on #865
@asgrim I'll send PR for the option you and @Ocramius choose 😄

[2021-11-20 13:41] Ocramius commented on #865
Careful about auto-merge usage: it kinda breaks when approval is given, yet some comments still need polishing

[2021-11-21 07:21] asgrim commented on #865
You can prevent auto merge from merging if comments are not resolved, would that suffice?

![Screenshot_20211121-071839.png](https://user-images.githubusercontent.com/496145/142753369-5a1001b2-7f64-49e0-859a-e70d80114a98.png)

The settings for the "branch protection rules" are what govern when the "Auto merge" feature merges, when enabled for a PR. We'd need to configure this properly too.

[2021-11-23 06:05] kukulich commented on #865
Implemented in https://github.com/Roave/BetterReflection/pull/867

[2021-11-23 06:05] #865 closed, assigned to kukulich

[2021-11-23 11:21] kukulich opened #873 "JetBrains/phpstorm-stubs 2021.3"
https://twitter.com/phpstorm/status/1463104900628373507

We should wait and update before 5.0.0 release.

[2021-11-28 17:26] #873 closed, assigned to nobody

[2021-12-04 14:14] kukulich opened #899 "Suggestion: Remove `TypesFinder`"
- We did not improve the feature in last years
- There is support only for union types, no intersection types: https://github.com/Roave/BetterReflection/blob/5.0.x/src/TypesFinder/FindPropertyType.php#L57
- The library does not support generic or array shapes - we also have tests it does not work: https://github.com/Roave/BetterReflection/blob/5.0.x/test/unit/TypesFinder/FindPropertyTypeTest.php#L

[2021-12-04 14:20] Ocramius commented on #899
IMO the whole type parsing (for docblocks) should really happen in `phpDocumentor/`, `psalm/` or `phpstan/` libraries here, yes.

[2021-12-05 07:49] Ocramius opened #901 "Make `Foo|null` reflection consistent with php-src"
Currently, when running reflection on an `A|null` type, BetterReflection produces a `Roave\BetterReflection\Reflection\ReflectionUnionType`:

[code]

produces

[code]

In PHP-SRC, this behavior is different: https://3v4l.org/gMA4T#v8.1rc3

[code]

produces:

[code]

This means that a `UnionType` AST node composed of just `null` plus another type should be converted into a `ReflectionNamedType`, fo

[2021-12-05 09:28] #899 closed, assigned to nobody

[2021-12-05 10:43] #901 closed, assigned to Ocramius

[2021-12-06 03:45] Ocramius opened #904 "Last call for `5.0.0` BC breaks"
This is just a placeholder to make sure everyone is aware that `5.0.0` is around the corner: if nobody replies to this issue within a couple days, I will release `5.0.0` from `5.0.x` (after attempting to put together some release notes @_@ )

If you need to break BC further, now is the time.

[2021-12-06 03:46] Ocramius commented on #904
/cc @asgrim @ondrejmirtes @kukulich

[2021-12-06 07:13] kukulich commented on #904
Ok, I suggest to remove the monkey patching feature :)

[2021-12-06 08:00] Ocramius commented on #904
@asgrim the mutator API is your project: wdyt?

[2021-12-06 09:22] ondrejmirtes commented on #904
Hi, I'm really enjoying. the 5.0.x. branch. Previously my fork has been based off BR 4.3. Now I successfully based my new fork on top of 5.0.x and established a downgrading process so that it works on PHP 7.1+. PHPStan's tests and PHPStan-on-PHPStan are now green with the new fork. But there's a bit more work to be done so a few more bugfixes might be submitted.

This is a list of what it does add

[2021-12-06 11:03] Ocramius commented on #904
The root `BetterReflection` class is not supposed to be re-used in libraries: it's an "entry-point" for "doing it quickly, based on assumptions", but it is not an extension point.

For example, `roave/backward-compatibility-check` only uses it for getting an `AstLocator`: https://github.com/Roave/BackwardCompatibilityCheck/blob/7d37292fc3ab6a94682812f39a18860a13318cfd/bin/roave-backward-compatibil

[2021-12-06 11:05] Ocramius commented on #904
@ondrejmirtes of the above, the only one that we would need to do immediately, and that is a BC break, is this one:

[2021-12-06 11:17] asgrim commented on #904
@kukulich I'm fine with removing the monkey patching feature if it isn't useful. It isn't the main point of the library indeed, but more of a "look what you can do with this". :+1:

At some point in the future I might make a new library that uses BR to do the monkey patching, just for fun :grin:

[2021-12-06 14:54] ondrejmirtes commented on #904
I'm not using it like that, the problem is that there are some places in BR that do this:

[code]

So I need to provide the correct Reflector etc. for those places.

That seems wasteful. I just need to know whether a `Symbol` is an internal symbol at all. If not, I can look for it in other source locators. If yes, there are two situations: it IS defined in the current analysis PHP version, or it I

[2021-12-06 15:01] ondrejmirtes commented on #904
Alright, I'm taking back the point about `(new BetterReflection())->reflector()`, looks like it's not in any path that would get executed by PHPStan. This is a different situation than it was on BR 4.x 👍

[2021-12-06 16:26] Ocramius commented on #904
Shouldn't a source locator for 7.1 be instantiated in that case? :thinking:
Perhaps I'm not fully understanding the problem: can we perhaps talk about it in a call, next week?

FWIW, having completely different reflectors/locators is the primary/first use-case of this library: `roave/backward-compatibility-check` instantiates separate source locators for separate codebase versions ( https://github

[2021-12-06 16:27] kukulich commented on #904
https://github.com/Roave/BetterReflection/pull/905 ✅

https://github.com/Roave/BetterReflection/pull/907 ✅

[2021-12-06 16:29] kukulich commented on #904
I think there should be better solution but there's probably bug/unsolved use-cases in `PhpStormSourceStubber` - I have to think about it.

EDIT: https://github.com/Roave/BetterReflection/pull/910 ✅

[2021-12-06 16:37] ondrejmirtes commented on #904
Yeah, sure :) To rephrase the problem one more time, I need to wrap PhpInternalSourceLocator (with ReflectionSourceStubber) in my own PhpVersionBlacklistSourceLocator (https://github.com/phpstan/phpstan-src/blob/master/src/Reflection/BetterReflection/SourceLocator/PhpVersionBlacklistSourceLocator.php) that calls these extra PhpStormStubsSourceStubber methods so that internal PHP functions from run

[2021-12-06 17:24] Ocramius commented on #904
Just to make sure: isn't this already covered by the internal source locator having the PHP version specified as a parameter? I would expect the example from the playground to be 3 different PHPStan processes, each started with a different input PHP version :thinking:

Ah, that makes much more sense, yes. It's basically replicating https://github.com/composer/composer/blob/4f789a5f6d3bff8f3650202e

[2021-12-07 06:40] Ocramius commented on #904
Thanks to @kukulich's work in #910, this should now be possible without file location.

[2021-12-15 15:31] ondrejmirtes commented on #904
I'm not sure, but we can set up a call to talk about this :)

It starts different PHPStan processes, but all run on PHP 8.0, just with a different `phpVersion` in `phpstan.neon` :)

[2021-12-15 15:35] ondrejmirtes commented on #904
BTW I just found an inconsistency between native PHP reflection and BR's Adapter regarding enum cases (BR doesn't do this correctly https://3v4l.org/4gqGD) which results in this (https://phpstan.org/r/5a32012d-ac0d-46c1-b5dd-aa83a3f42067) - an object should be inferred instead of integer `1`. So please hold on with the release a bit longer, thanks :)

[2021-12-15 16:15] kukulich commented on #904
https://github.com/Roave/BetterReflection/pull/918

[2021-12-22 17:19] Ocramius commented on #904
@ondrejmirtes I'd have some free time on Friday (I know, it's the 24th), but IMO we should at this point:

 1. release
 2. eventually release 6.0.0 if BC breaks are necessary afterwards

Would be a good xmas present :D

[2021-12-22 17:28] ondrejmirtes commented on #904
I agree, release the kraken! 😊

I have 5.0.x integrated in PHPStan and it's super solid. I'll be able to release PHPStan with Enums support shortly after thanks to BR, I just need a few finishing touches that I hopefully find the time for during the holidays 😊

[2021-12-22 17:29] WyriHaximus commented on #904
@Ocramius that be an amazing Christmas present, but don't feel bad to take longer if you have to.

[2021-12-22 17:32] asgrim commented on #904
![excited](https://user-images.githubusercontent.com/496145/147132519-d144d1b0-77bb-482f-8de9-5c70bb9d6d23.gif)

[2021-12-24 16:59] Ocramius commented on #904
Closing here: will focus on writing release notes and finishing up all pending details, but no more BEE SEE BREKS!

[2021-12-24 16:59] #904 closed, assigned to Ocramius

[2021-12-24 17:00] Ocramius commented on #441
I need to at least run this once, to compile a list of superficial BC breaks :)

[2021-12-24 17:01] Ocramius commented on #399
Closing here: please re-open if it occurs again. Overall, I don't think this is a huge issue, so I'd prefer to leave it out of BC guarantees.

[2021-12-24 17:01] #399 closed

[2021-12-24 17:03] Ocramius commented on #689
Closing: marking this as solved, even if I don't have the time to verify it myself.

Please consider opening a new issue after upgrading to `5.0.0`, which I will release in the next few days.

[2021-12-24 17:03] #689 closed

[2021-12-25 11:55] WinterSilence opened #927 "Wrong behavior of `ReflectionMethod::getPrototype()`"
Demo:
[code]
Native reflection:
[code]
Better reflection:
[code]

https://github.com/Roave/BetterReflection/blob/b02fa4d270b582f1d03490db031c695934970bb6/src/Reflection/ReflectionMethod.php#L125
Error: current class is `getCurrentClass()` and it's not always same to `getImplementingClass()`
https://github.com/Roave/BetterReflection/blob/b02fa4d270b582f1d03490db031c695934970bb6/src/Reflection/Refle

[2021-12-25 11:58] Ocramius commented on #927
Is this for `4.x` or the current `5.0.x` branch?

[2021-12-25 12:01] WinterSilence commented on #927
@Ocramius I inserted lines with errors in 5.0

[2021-12-25 17:03] Ocramius commented on #927
Looking further at this, I must say that I don't understand what the use of [`getPrototype()`](https://www.php.net/manual/en/reflectionmethod.getprototype.php) is :D

I'd say that for our own purposes, we should drop it from our core reflection API in `6.0.0`, only to be kept in the `/Adapter` code

[2021-12-25 17:04] asgrim commented on #927
Yeah I vaguely remember implementing this and I couldn't figure out the exact use for it :/ sorry

[2021-12-25 17:47] #751 closed, assigned to Ocramius

[2021-12-25 17:56] WinterSilence commented on #927
@Ocramius @asgrim `getDeclaringClass()` it's latest class in chain of nested classes who override method, `getPrototype()` is last/top interface/class in chain of nested interfaces/abstract classes where defined method i.e. last abstraction in chain who re-declare method.
[code]

`B` is declaring class for `foo()` and `bar()`
`A` is  prototype class for `foo()`
`A2` is  prototype class for `bar()`

[2021-12-25 18:03] Ocramius commented on #441
I will add this post-release of `roave/backward-compatibility-check:6.0.0`

For now, here is a full list of BC breaks detected with the `-dev` version of the above library:

[code]

[2021-12-25 18:13] WinterSilence commented on #927
Also, these methods are needed for compatibility with native ReflectionMethod

[2021-12-25 18:17] Ocramius commented on #927
They're not necessary: they can be **moved** to the adapter layer :)

[2021-12-25 18:32] WinterSilence commented on #927
@Ocramius they not necessary for you, but it's necessary for code review/static analyze

[2021-12-25 18:37] WinterSilence opened #930 "Exploring `ReflectionMethod::isConstructor()`"
https://github.com/Roave/BetterReflection/blob/9da142a1eaa31fc9467abd971ed05a29a5ac8a30/src/Reflection/ReflectionMethod.php#L268

why method check namespace to detect class constructor?

[2021-12-25 18:38] Ocramius commented on #930
PHP 4 ctors only apply to non-namespaced code

[2021-12-25 18:38] #930 closed, assigned to Ocramius

[2021-12-25 18:39] WinterSilence commented on #930
@Ocramius we support php4?!

[2021-12-25 18:47] WinterSilence commented on #930
@Ocramius again used declaring class instead current
https://github.com/Roave/BetterReflection/blob/9da142a1eaa31fc9467abd971ed05a29a5ac8a30/src/Reflection/ReflectionMethod.php#L267
it's error:
class `Foo` declare constructor `bar();`, class `Bar` extends `Foo`, `Bar::bar()` - deprecated constructor

[2021-12-25 23:47] Ocramius commented on #930
See https://github.com/Roave/BetterReflection/pull/907

See https://github.com/ondrejmirtes/BetterReflection/commit/6f597e60df0946c1b4f6fa935b352e04f9ce9642

[2021-12-26 04:13] Ocramius opened #932 "Enforce `StringSourceLocator` to be built with a `non-empty-string`"
Currently, a `StringSourceLocator` can be constructed with an empty string, but will crash at runtime when doing so:

https://github.com/Roave/BetterReflection/blob/f3966ba125e3b4db948a240e8b29bc28882623c1/src/SourceLocator/Type/StringSourceLocator.php#L23-L38

We should really get rid of the exception, and instead enforce `non-empty-string` as input.

[2021-12-26 04:44] WinterSilence commented on #930
@Ocramius i'm understand you

you understand me?
[code]
`ReflectionMethod::createFromName(Bar::class, 'bar')->isConstructor();` return false

[2021-12-26 04:49] Ocramius commented on #930
Not really: please write a test case

[2021-12-26 05:43] WinterSilence commented on #930
@Ocramius failing test https://github.com/Roave/BetterReflection/pull/933/files

[2022-01-09 10:16] aurimasniekis opened #961 "ReflectionNamedType::isBuiltIn incorrect behavior"
I have noticed that [`ReflectionNamedType::isBuiltIn`](https://github.com/Roave/BetterReflection/blob/5.1.x/src/Reflection/ReflectionNamedType.php#L60) is working incorrectly, and it looks like it was broken after #750 merged.

Neither `self`, `parent`, `static` is built-in types in PHP according original PHP Reflections.

The last commit I can find which looked like it worked like should be this

[2022-01-09 10:20] aurimasniekis commented on #961
Here is proof https://3v4l.org/JXSes#v8.1.1

[2022-01-09 16:05] kukulich commented on #961
@Ocramius `self`, `parent`, `static` were not built-in only in adapter in previous version. I would like to fix it again in this way - BR will report them as build-in and adapter as not build-in.

[2022-01-09 16:08] Ocramius commented on #961
Yeah, adapter-only seems okay 👍

[2022-01-09 16:09] aurimasniekis commented on #961
Wouldnt this make this Compatibility mark not accurate?

https://github.com/Roave/BetterReflection/blob/5.1.x/docs/compatibility.md?plain=1#L174

[2022-01-09 16:14] aurimasniekis commented on #961
I am not against it, just that it's really widely used common logic such as:

[code]

[2022-01-09 17:38] #961 closed, assigned to kukulich

[2022-01-09 17:38] Ocramius commented on #961
Handled in #962

[2022-01-09 20:36] aurimasniekis opened #964 "`ReflectionFunctionAbstract` has incorrect `locatedSource` value"
When trying to get the location of the method which is inherited from the parent class fails with the `InvalidNodePosition` exception, but from a deeper look, it seems that the `$this->locatedSource->getSource()` method returns not the parent class source but the source of which implemented it.

From looking around the code seems, like it should return `$this->getDeclaringClass()->getLocatedSource

[2022-01-10 08:50] Ocramius commented on #964
Handled in #965

[2022-01-10 08:50] #964 closed, assigned to kukulich

[2022-01-10 08:51] aurimasniekis commented on #964
Thanks! @Ocramius @kukulich

[2022-01-19 16:43] kukulich opened #981 "6.0 cleanup"
- [x] Remove `Roave\BetterReflection\Util\Autoload` https://github.com/Roave/BetterReflection/pull/1142
- [x] Make `ReflectionEnum::__construct()` private https://github.com/Roave/BetterReflection/pull/1139
- [x] Remove `ReflectionType::__construct()` and `ReflectionType::getOwner()` https://github.com/Roave/BetterReflection/pull/1140
- [x] Remove adapter `ReflectionProperty::isAccessible()` https

[2022-01-19 16:58] Ocramius commented on #441
This should be implemented via a `tools/` directory with its own `composer.lock`, in order to not create a cyclic dependency.

[2022-01-19 17:01] Ocramius commented on #981
@kukulich btw, milestone + issues > checklists :D

[2022-01-20 11:50] WinterSilence commented on #617
@ondrejmirtes it's unreal/wrong in case like as:
file `A.php`:
[code]
file `B.php`:
[code]
If we reflect class `A` and `B`, `C` = 1 or 2? or `C` declared in global namespace and it's wrong code?

[2022-01-20 12:55] WinterSilence opened #984 "Supporting PHP 7"
Need copy common features to branch 4.x (PHP 7).

Reasons:
1. some new features in branch 5.x not related directly to PHP 8
2. PHP 8 using only in [6-10%](https://blog.packagist.com/php-versions-stats-2021-1-edition/)

[2022-01-20 12:57] asgrim commented on #984
You don't need to backport features; BR 5.1.x running in PHP 8 can analyse all older versions of PHP code, so it doesn't matter what version of PHP the codebase being analysed is, as long as the version of PHP running BR is PHP 8+

[2022-01-20 13:03] WinterSilence commented on #984
@asgrim

i.e. in 90-94% of cases can't use `BetterReflection`

[2022-01-20 13:06] asgrim commented on #984
I repeat; the codebase being analysed, regardless of what PHP version the codebase needs, can still be analysed by BR if you run BR under PHP 8. I expect you don't even need to install PHP 8, you can probably just run it in a Docker container or something (not something we provide).

[2022-01-20 13:09] WinterSilence commented on #984
@asgrim if server use PHP7 you can't install `BetterReflection` 5.x, but 4.x don't contain some common features added in 5.x

[2022-01-20 13:12] asgrim commented on #984
BR is not designed to run in production, so it does not matter what version of PHP you run on your server/deployment environments. Specifically, on the front page of the [README](https://github.com/Roave/BetterReflection#readme), it says:

If you do not want to do anything that native PHP reflection can't do, then just use native PHP reflection! The "Better"
in Better Reflection refers to feature,

[2022-01-20 13:19] WinterSilence commented on #984
@asgrim "NOT suited to runtime usage" not same to "not designed to run in production"

[2022-01-20 13:26] WinterSilence commented on #984
@asgrim for example, I'm using BR for generates sitemap by controller actions and autocomplete for template editor in back-end

[2022-01-20 13:27] Ocramius commented on #984
Closing: PHP 7 runtime aupport is **NOT** coming.

In fact, 8.0 support will be dropped when we decide to rely on 8.1 features.

Focus on upgrading your stack, please: you will have to do it anyway.

Alternatively, just run BetterReflection 4.x, which works fine on PHP 7.

[2022-01-20 13:33] WinterSilence commented on #984
@Ocramius

[2022-01-20 13:35] #984 closed, assigned to Ocramius

[2022-01-20 13:39] asgrim commented on #984
Please stop quoting things you have already said, we already read the issue description.

I'm afraid new features are only available in the newer branches, and we do not plan to backport them.

If you must run PHP 7, then please use the 4.x series, which will continue to receive security fixes for now.

But again: I reiterate, you can run BR in PHP 8 to perform analysis on a PHP 7 codebase already

[2022-02-22 14:54] #441 closed

[2022-03-08 18:12] Ocramius opened #1043 "Make `CompileNodeToValue` semi-`@psalm-immutable`?"
While working on:

 * https://github.com/Roave/BackwardCompatibilityCheck/issues/400
 * https://github.com/Roave/BackwardCompatibilityCheck/pull/476

I discovered that `CompileNodeToValue` internally uses `realpath()` and `dirname()` to chop off parts of file names.

This is problematic for any kind of processing where the `LocatedSource` does not have a file path, such as in serialized `LocatedSo

[2022-03-08 19:01] theofidry commented on #1043
At least realpath could be replaced by (Symfony, previously webmozart) `Path::normalize()`

[2022-03-08 19:13] Ocramius commented on #1043
Would certainly copy over the code than introduce a dependency there 😬

[2022-03-16 03:25] fideism opened #1048 "Roave\BetterReflection\Reflector\Exception\IdentifierNotFound"
[code]

composer autoload_classmap exists

[2022-03-16 05:51] kukulich commented on #1048
@fideism Please upgrade BetterReflection first. You don’t use the latest version.

[2022-03-16 08:17] Ocramius commented on #1048
Besides that, `IdentifierNotFound` is a valid exception to be thrown.

Beeds better/more precise issue with actual reproducible problem.

Closing here.

[2022-03-16 08:17] #1048 closed, assigned to Ocramius

[2022-03-22 15:35] #1043 closed, assigned to Ocramius

[2022-04-08 06:30] ondrejmirtes opened #1073 "Prevent memory leaks by not holding onto AST nodes"
Hi, I'm in the process of reducing the memory amount consumed by PHPStan, and I have some promising results.

Current stable version consumes ~850 MB when runing PHPStan on PHPStan.

After I removed the NodeConnectingVisitor (this isn't related to BetterReflection) that creates cycles between nodes by setting parent/previous/next attributes, I saved around 100 MB. So now we're at ~750 MB.

I conti

[2022-04-08 08:10] Ocramius commented on #1073
AFAIK, BR nodes are acyclic: the `CachedParser` was introduced on purpose, to prevent double-parsing of data (which happens a lot when jumping around a codebase, since we don't cache reflected symbols either).

IMO, a better approach would be to make the codebase as `@immutable` as possible:

 * `ReflectionClass`
 * `ReflectionProperty`
 * `ReflectionType`
 * ...

Besides some rare edge cases in t

[2022-04-08 15:27] ondrejmirtes commented on #1073
It might be. What I want to solve is when MemoizingReflector is involved, Reflection instances aren't freed from memory on purpose, but alongside they're pulling the AST nodes which also cannot be freed. So we have caching of Reflection instances which is a good thing, but the memory occupied is more than it could be - we could hold the same amount of Reflection information and free some memory.

[2022-04-09 13:20] Ocramius commented on #1073
Overall, I'm on board with changing library performance, but **not** as hacks/shuffling, but rather by sitting back and checking architecture with more care.

I'll put a new major as milestone, as I feel like such a feature/improvement is also leaving us space for major BC breaks.

[2022-06-02 06:48] ondrejmirtes commented on #1073
Alright, so what do you think about removing the methods that won't have the data anymore, like `getAst()` and `getDeclaringNamespaceAst()`? I don't think I removed anything else, checking my diff at https://github.com/ondrejmirtes/BetterReflection/compare/cc581ecece6e69674181ec456ecc5d846ad312d1...e594f06aabd6081d43adac8334e58cee09abd0a9.

Also - it's still useful to keep the value expr of consta

[2022-06-02 10:24] Ocramius commented on #1073
They would most likely be removed in an immutable version of the library.

We can also decide to drop them in a new major (without going through the architectural change).

[2022-06-02 10:24] Ocramius commented on #1073
Also: OK with dropping problematic functionality 👍

[2022-06-08 11:34] ondrejmirtes opened #1120 "Not all public properties in Adapter namespace work correctly"
There's currently an `unset` + `__get` hack for `ReflectionClass::$name`: https://github.com/Roave/BetterReflection/blob/c834c79e3c116346c830f4921a7aaafe2e35ea58/src/Reflection/Adapter/ReflectionClass.php#L38 + https://github.com/Roave/BetterReflection/blob/c834c79e3c116346c830f4921a7aaafe2e35ea58/src/Reflection/Adapter/ReflectionClass.php#L46-L53

We need to do a similar hack for other public pro

[2022-06-08 11:35] Ocramius commented on #1120
Urgh, public properties @_@

[2022-06-08 11:37] ondrejmirtes opened #1121 "ReflectionMethod Adapter: Calling setAccessible() shouldn't be needed for non-public methods as of PHP 8.1"
https://www.php.net/manual/en/reflectionmethod.setaccessible.php

But the adapter here still requires it before calling `invoke()`: https://github.com/Roave/BetterReflection/blob/c834c79e3c116346c830f4921a7aaafe2e35ea58/src/Reflection/Adapter/ReflectionMethod.php#L238-L240

The options IMHO are:

1) Remove the `isAccessible()` check and be done with it.
2) Require it only when running on PHP 8 but

[2022-06-08 11:39] Ocramius commented on #1121
We can just drop the check IMO.

[2022-06-09 13:35] Ocramius opened #1122 "`test` is not covered by static analysis"
Discussed with @ondrejmirtes - `test/` is not covered by static analysis :scream:

We should have both PHPStan and Psalm cover that ASAP, even if it means expanding the baseline by a lot.

[2022-06-09 13:58] ondrejmirtes commented on #1122
This definitely implies installing PHPUnit plugins for Psalm/PHPStan so that the code is correctly understood.

[2022-06-09 17:21] kukulich commented on #1122
PHPStan on `test/unit`
[code]

It looks I have something to do... 😃

[2022-06-09 17:23] Ocramius commented on #1122
@kukulich if you do want to work on it, please do first send an independent patch with just baseline additions, and then we do fix-ups afterwards

[2022-06-09 17:26] kukulich commented on #1122
Ok but it's a "small" task too :)

[code]

[2022-06-09 17:30] Ocramius commented on #1122
This has caused me some trouble on a closed source project today too: we either need to fix these, or do the baseline approach just with psalm 🤔

[2022-06-09 17:31] kukulich commented on #1122
It looks we cannot test unit tests with Psalm now:

[code]

[2022-06-09 17:33] Ocramius commented on #1122
Owww, chaos

[2022-06-09 17:38] kukulich commented on #1122
With a little help of rubber duck @ondrejmirtes I now have "only" 57 errors to fix (and 748 in baseline) 😃

[2022-06-09 17:40] kukulich commented on #1122
@Ocramius Should we test fixtures or not?

[2022-06-09 17:43] Ocramius commented on #1122
I think not: they include purposely weird/wonky code, so they can't be put under static analysis.

[2022-06-09 20:31] #1122 closed, assigned to kukulich

[2022-06-13 16:03] #1121 closed, assigned to kukulich

[2022-06-13 18:19] #1120 closed, assigned to kukulich

[2022-06-24 14:15] jakublabno opened #1137 "Version that supports both versions of PHP"
I don't see any version that works on both, 7.4 and 8.0 PHP versions, could you add support?

[2022-06-24 14:57] asgrim commented on #1137
Duplicate of #984 - specifically

[2022-06-24 14:58] asgrim commented on #1137
Hope this helps! Please let us know if you have any further questions :)

[2022-06-24 14:58] #1137 closed, assigned to asgrim

[2022-06-24 15:04] jakublabno commented on #1137
So it's wrong spec in composer
![image](https://user-images.githubusercontent.com/64330419/175563159-a77702ce-ef35-4520-b999-e9338748d9bb.png)

[2022-06-24 15:05] asgrim commented on #1137
Not quite; you have to run it with PHP 8/8.1, but it can analyse code that runs on older PHP versions, if that makes sense :) for example you could run it in a Docker container to analyse

[2022-08-15 07:20] herndlm opened #1165 "Better detection of circular references"
Hi,

indirectly, via [phpstan user report](https://github.com/phpstan/phpstan/issues/7787), I found out that there is valid PHP code that triggers endless recursion in Better Reflection.
E.g. circular class or interface extends statements like
[code]

This code will parse just fine, but lead to errors like `Class "TestClass" not found`, see https://3v4l.org/YIQNl

There are currently 2 cases for t

[2022-08-15 07:25] herndlm commented on #1165
The handling of this kind of feels related to https://github.com/Roave/BetterReflection/issues/69 (finding more than one unique symbol). If e.g. exceptions are decided to be used I could try to implement that too.

[2022-08-15 07:53] Ocramius commented on #1165
Unsure about how this one should be handled. #69 is about "locating" sources, while this one is about circular references in general.

What happens if you have `A -> B -> C -> A`, and in separate files?

I don't think we should complicate this for code that is invalid upfront. Note that BetterReflection already crashes on code that cannot be parsed.

[2022-08-15 08:36] herndlm commented on #1165
Right, those 2 issues are not related much. I only thought both could lead to exceptions thrown.

With `A -> B -> C -> A` in separate files the same thing happens. E.g. `getParentClass()` can be called forever, `getInterfaceNames` leads to a segfault / endless recursion.

The argument about invalid code is understandable. I thought Better Reflection should be able to somehow handle all code that i

[2022-09-13 09:39] #932 closed, assigned to kukulich

[2022-09-13 09:49] #981 closed, assigned to kukulich

[2022-09-13 09:50] Ocramius commented on #981
Awesome work, @kukulich! :tada:

[2022-09-13 18:41] kukulich commented on #1073
Ok, it looks I will prepare PR with removing `getAst()` (and dependant) methods first.

[2022-09-22 18:32] Ocramius commented on #1073
Only `ReflectionFunction*` left, AFAIK!

[2022-09-22 18:41] kukulich commented on #1073
Unfortunatelly also `ReflectionClass`, `ReflectionMethod`, `ReflectionEnum` and `ReflectionObject` :)

[2022-09-22 18:43] Ocramius commented on #1073
Ah, we reduced our MT score while working on this:

[code]

Oh well 🤷

[2022-09-22 18:45] kukulich commented on #1073
Will look at it later.

[2022-09-23 07:58] ondrejmirtes commented on #1073
What I'm missing in the current PRs are getters for the underlying expression values. These were previously accessible via the removed `getAst()` methods which were removed at my request, but the reflection classes should still give access to things like:

* Constant value expression
* Class constant value expression
* Property default expression
* Parameter default expression
* Attributes argumen

[2022-09-23 08:05] Ocramius commented on #1073
Yes, it's OK to add them, but beware that we still cannot support objects as default values, such as in `function foo($bar = new Baz()) {}` :thinking:

[2022-09-23 08:06] ondrejmirtes commented on #1073
This code is fine as long as the user doesn't call `getValue()` 😂

[2022-09-23 09:11] Ocramius commented on #1073
@ondrejmirtes could you create a rough issue to track that? What API you want / how it should look like?

[2022-09-23 09:12] Ocramius commented on #1073
BTW, `getAst()` needs to be removed from docs too

[2022-09-23 09:21] ondrejmirtes opened #1222 "Deprecate converting initializer expressions to runtime values?"
All the places where CompileNodeToValue is used are problematic because this feature has a possibility of involving runtime concepts into static reflection.

Initializers expressions (like property or parameter default values) can contain things that need to involve autoloading when converting to runtime values.

While `Foo::SOME_CONST` can be resolved statically because the `Foo` class can be sta

[2022-09-23 09:21] ondrejmirtes commented on #1073
Done: https://github.com/Roave/BetterReflection/issues/1222

[2022-09-23 09:35] Ocramius commented on #1222
@ondrejmirtes how are we going to `CompileNodeToValue` if we didn't keep the AST in memory (precisely to prevent memleaks)?

[2022-09-23 09:37] ondrejmirtes commented on #1222
We're still keeping the related initializer AST expressions in memory. For example https://github.com/Roave/BetterReflection/blob/7bc326b042fe8840420f3c20554d8758a44b6dcf/src/Reflection/ReflectionParameter.php#L38

[2022-09-23 09:48] Ocramius commented on #1222
Ok, so we won't GC in those cases then :+1:

[2022-09-23 11:23] Ocramius commented on #1222
@ondrejmirtes see https://github.com/Roave/BetterReflection/pull/1223

[2022-09-23 16:52] Ocramius commented on #1073
Few usages left: https://github.com/Roave/BetterReflection/search?q=getast

[2022-09-23 22:44] #1073 closed, assigned to nobody

[2022-09-23 22:44] Ocramius commented on #1073
@ondrejmirtes waiting for your feedback for a `6.0.0` release BTW :)

[2022-09-24 08:41] ondrejmirtes commented on #1073
Awesome, please give me a few days, I need to rebase my fork and make PHPStan work with that, after that I'll make some memory measurements to make sure it's the same or better :)

[2022-09-24 12:06] Ocramius commented on #1073
Creating a signpost issue for that 👍

[2022-09-24 12:09] Ocramius opened #1232 "Wait for phpstan to integrate/test `6.0.x` before releasing `6.0.0`"
This is a signpost issue to prevent accidental `6.0.0` release.

We'll need @ondrejmirtes green light to 🚢

[2022-09-27 09:02] herndlm commented on #1165
Any new ideas here? I didn't come up with anything so far.. The question is: should BR detect this or not?
If you say it shouldn't, I'm fine with closing this, I don't want to increase the issue counter for no reason :) I'm sure this can be somehow detected in consumer code as well.

[2022-09-27 10:29] Ocramius commented on #1165
IMO put it in a failing test PR first.

Then discuss from there.

[2022-09-27 16:30] #1165 closed, assigned to kukulich

[2022-09-27 20:38] kukulich commented on #927
I'm not able to reproduce it. I think this should be closed. Failing test is needed.

[2022-09-27 20:53] Ocramius commented on #927
Closing here as per @kukulich's feedback

[2022-09-27 20:53] #927 closed, assigned to Ocramius

[2022-09-27 21:06] WinterSilence commented on #927
@Ocramius what's you mean?

[2022-09-27 21:15] herndlm opened #1242 "Detection of trait use circular references"
Defining a trait, using itself and also using it in a class leads to endless recursion when methods, properties or constants are queried from the class.
Most likely other circular-trait-usages like a->b->a or so lead to the same.

I should be able to open a PR for this on the weekend the latest. I just created this issue because I was a bit worried since it looks like 6.0 is coming soon :) but I g

[2022-09-27 21:17] Ocramius commented on #927
Needs a failing automation test case in the test suite of this library, in order to be reconsidered.

[2022-09-27 22:18] WinterSilence commented on #927
@Ocramius it's issue i.e. is reason to send PR with this test case. Closing unresolved issues does not solve the problems described in them.

[2022-09-28 00:22] Ocramius commented on #927
It's resolved according to @kukulich not being able to reproduce this.

Please consider opening a PR with a failing test case if you don't believe that to be true.

[2022-09-28 05:51] herndlm commented on #1242
Most likely I'll refactor the way trait hierarchies are collected and then add circular reference protection. Should I split the changes in 2 PRs?

[2022-09-28 05:56] kukulich commented on #1242
@herndlm I think one PR is ok - maybe two commits. However if the refactoring is needed to implement the circular reference check then one commit should be ok too.

I made some refactoring yesterday too.

[2022-09-28 15:18] ondrejmirtes commented on #1232
Just to give you a small update - I've been working on this and testing since Monday, and finally I've got the green build. BR 6.0.x is in a good state.

The only thing I'd suggest to do is something similar to this - https://github.com/ondrejmirtes/BetterReflection/commit/8d0a0f63997397b24c270db00b3bf4071866844a. What it does is that parameters don't have to be recreated when calling with `withCu

[2022-09-29 20:24] ondrejmirtes commented on #1232
Alright, I greenlight BetterReflection 6.0.0, we're good to go :) Thank you very much.

It's up to you if you want to do the memory optimization inspired by https://github.com/ondrejmirtes/BetterReflection/commit/8d0a0f63997397b24c270db00b3bf4071866844a before release or decide it later in 6.x.

[2022-09-29 20:28] Ocramius commented on #1232
@kukulich I will cut a release tomorrow, unless you have more stuff you want in 6.0

[2022-09-29 20:44] Ocramius commented on #1232
Looks like a non-breaking change: can be done afterwards 👍

[2022-09-30 05:28] kukulich commented on #1232
`ReflectionMethod::getCurrentClass()` is in public API so it should not lie for `$parameter->getDeclaringFunction()->getCurrentClass()`.

However the optimization is nice and it can really make a difference because `ReflectionMethod::withCurrentClass()` is called in `ReflectionClass::getParentMethods()`.

Maybe we can do one last BC break and mark `ReflectionMethod::getCurrentClass()` as `@interna

[2022-09-30 08:07] Ocramius commented on #1232
Marking it as `@internal` works :+1:

[2022-09-30 17:26] Ocramius commented on #1242
Handled in #1253, #1254, #1256

[2022-09-30 17:26] #1242 closed, assigned to nobody

[2022-09-30 17:27] Ocramius commented on #1232
Closing here, thanks everyone!

[2022-09-30 17:27] #1232 closed, assigned to Ocramius

[2022-09-30 17:29] Ocramius commented on #1222
Handled in #1223

[2022-09-30 17:29] #1222 closed, assigned to kukulich

[2022-10-02 09:52] ondrejmirtes opened #1267 "Not-circular interface detected as circular"
Last minute changes to BetterReflection 6.0 before release around `AlreadyVisitedClasses` brought a bug that was familiar to me.

This situation is now detected as circular but in fact it works in PHP:

[code]

In the previous version that used references I accidentally introduced it to my fork and had to fix it too. This is how I introduced the bug: https://github.com/ondrejmirtes/BetterReflectio

[2022-10-02 09:55] ondrejmirtes commented on #1267
/cc @herndlm

[2022-10-04 07:56] #1267 closed, assigned to kukulich

[2022-10-10 09:20] Ocramius opened #1275 "Consider making `Roave\BetterReflection\Reflection\ReflectionClass#getMethod()` non-nullable?"
We currently have:

 * `Roave\BetterReflection\Reflection\ReflectionClass#getMethod(): ReflectionMethod|null`
 * `Roave\BetterReflection\Reflection\ReflectionClass#hasMethod(): bool`

This API is kinda dumb-ish, and we kinda went back on it in `6.0.0`, IMO: an exception being thrown was probably a much nicer API here.

Either we make `getMethod()` throw, or we remove `hasMethod()` here. Relying on

[2022-10-10 09:29] kukulich commented on #1275
We should make getProperty() etc use the same pattern to be consistent.

[2022-10-10 11:18] Ocramius opened #1276 "`Roave\BetterReflection\Reflection\ReflectionFunctionAbstract#getStartColumn()` throws `RuntimeException` instead of `Roave\BetterReflection\Util\Exception\NoNodePosition`"
https://github.com/Roave/BetterReflection/blob/55b947fe0b929ec6ec4d40d6b4a37b7e6bf2496b/src/Reflection/ReflectionFunctionAbstract.php#L349-L407

This API should probably throw `NoNodePosition`, to be more specific?

Would be a minor BC break, since `NoNodePosition extends InvalidArgumentException`

[2022-10-10 11:21] Ocramius commented on #1276
`NoNodePosition` may be wrong here: a more specific exception type would suffice, though.

By extending `RuntimeException`, we would also prevent a BC break.

[2022-10-11 10:10] ondrejmirtes opened #1278 "Reflection Adapter vs. non-empty-string"
This PR https://github.com/Roave/BetterReflection/pull/1234 made Adapter reflection incompatible with the native PHP reflection. The native reflection returns `false` in `has*` methods if it's asked about nonexistent elements, and throws ReflectionException in `get*` methods: https://3v4l.org/YebV9

But the `assert($name !== '');` calls are unforgiving even for `has*` methods. The current situatio

[2022-10-11 10:12] Ocramius commented on #1278
Doing this in the adapters sounds good 👍

[2022-10-11 10:28] kukulich commented on #1276
Naming is hard... Do you have an idea how to name the exception?

[2022-10-11 12:57] Ocramius commented on #1276
Maybe `CodeLocationMissing` or such?

[2022-10-14 21:57] #1276 closed, assigned to kukulich

[2022-10-14 23:59] #1278 closed, assigned to kukulich

[2022-10-15 08:07] staabm commented on #1275
in case you don't want todo another major in the near future I think you could also use phpdoc to narrow the return type in the meantime.

phpstan does a similar thing with https://github.com/phpstan/phpstan-src/commit/ace76ce2be8b156cbd6a6b42f4d8505773a8488d

its a pretty recent feature in phpstan though

[2022-10-15 11:05] Ocramius commented on #1275
@staabm a new major would be OK here, IMO.

We aren't that worried about BC, on a codebase that provides full type safety (and therefore is easy yo upgrade to)

[2022-10-18 05:56] Ocramius commented on #612
Closing here: IMO, the `DirectoriesSourceLocator` covers its niche quite alright, and the composer-based source locator is better for composer-friendly projects.

[2022-10-18 05:56] #612 closed

[2022-10-18 05:57] Ocramius commented on #449
Monkey-patching has been removed in `6.0.0`: closing here.

[2022-10-18 05:57] #449 closed

[2022-10-22 14:36] WyriHaximus commented on #449
Thanks for letting me know, completely missed that in 6.0 😅

[2022-10-27 08:56] lulco opened #1300 "Infinite recursion while scanning code containing anonymous classes at multiple inheritance levels"
First of all, thanks for great package. It is very helpful for me.

Sometimes your package is trying to analyse classes multiple (infinite) times. I didn't figure out how and why, but I've created minimalistic repository to reproduce issue. The repository is here: https://github.com/lulco/bc-break-demo

Please follow the readme to reproduce. I've added debug output to DefaultReflector and I can se

[2022-10-27 11:39] Ocramius commented on #1300
@lulco did you already upgrade the `roave/better-reflection` dependency there?

[2022-10-27 11:48] lulco commented on #1300
Yes I think I'm up to date:
[code]

[code]

[2022-10-27 11:56] Ocramius commented on #1300
Hmm, I think this problem is to be reproduced in `roave/better-reflection` then 🤔

Can you perhaps show the stack trace for such an infinite recursion?

[2022-10-27 12:22] lulco commented on #1300
is debug_print_backtrace enough?

[code]

Or I generated this
[loop--2022-10-27--14-07--8ab6a57085.html.zip](https://github.com/Roave/BackwardCompatibilityCheck/files/9879250/loop--2022-10-27--14-07--8ab6a57085.html.zip)

[2022-10-27 12:30] Ocramius commented on #1300
The trace doesn't seem to be very large here - do you have an idea of where the infinite "loop" could be, perhaps?

This one?

[code]

Meanwhile, /cc @kukulich for ideas: perhaps would be best to remove `while ()` completely, and replace it with a functional concept (where possible)

[2022-10-27 12:43] lulco commented on #1300
Well, I stopped it after second occurence of $identifierName PhpParser\NodeVisitorAbstract.

Here is trace for 10 occurences:
[code]

I have no idea where the infinite loop is from, I used this package only 3 days, and 2 of them I was trying to create minimal repo for reproduce issue :)

[2022-10-27 12:45] Ocramius commented on #1300
OK, that looks more like infinite recursion, rather than infinite loop :D

That narrows down what this could be about.

Thanks for trying that meanwhile :+1:

[2022-10-27 13:03] lulco commented on #1300
yes, wrong words used

[2022-10-30 19:53] Ocramius commented on #1300
Related:

 * https://github.com/Roave/BetterReflection/issues/1242
 * https://github.com/phpstan/phpstan/issues/8082
 * https://github.com/Roave/BetterReflection/pull/1253
 * https://github.com/Roave/BetterReflection/pull/1254
 * https://github.com/Roave/BetterReflection/pull/1256

I don't have a solution nor time to investigate in the next few weeks, so I'm mostly linking existing tests for this

[2022-10-30 21:54] kukulich commented on #1300
1. `Locator` needs name of the class to locate it: https://github.com/Roave/BetterReflection/blob/1eb943e/src/SourceLocator/Ast/Locator.php#L93
2. Anonymous class needs its parents to generate its name: https://github.com/Roave/BetterReflection/blob/1eb943e/src/Reflection/ReflectionClass.php#L264-L284

There's anonymous class in https://github.com/nette/forms/blob/fe2109ce8b77846a5f664bc412c7cf300

[2022-10-31 09:27] lulco commented on #1300
When I was trying to create minimalistic repository, I found that I need both packages: forms and also php-generator. I am 90% sure I was trying also install only one of them with no success.

Maybe this behavior needs at least two anonymous classes?
Second is here: https://github.com/nette/php-generator/blob/master/src/PhpGenerator/Extractor.php#L175

[2022-10-31 18:10] kukulich commented on #1300
I hope it should be fixed by https://github.com/Roave/BetterReflection/pull/1298

[2022-10-31 22:05] renovate[bot] opened #1303 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/Roave/BetterReflection).

## Awaiting Schedule

The following updates are awaiting their schedule. To get an update now, click on a checkbox below.

[2022-10-31 22:45] #1300 closed, assigned to kukulich

[2022-10-31 22:45] Ocramius commented on #1300
@lulco this should now be fixed: please try this with the latest dev version of `roave/better-reflection`, or wait a few for me to cut a release :-)

[2022-11-01 00:18] lulco commented on #1300
@Ocramius @kukulich thanks, it seems it works 🥳

[2022-11-21 16:23] DanielBadura opened #1309 "CodeLocationMissing is thrown, also unable to compile initializer"
Hello there 👋

Since some time now the CI job for the BC-Check is failing on our Repo. This happened after merging this PR here: https://github.com/patchlevel/event-sourcing/pull/297

After merging we got this action output: https://github.com/patchlevel/event-sourcing/actions/runs/3278010376/jobs/5395925767

I check it out locally and run it with verbose settings and some dump here and there.

[c

[2022-11-22 09:34] Ocramius commented on #1309
@DanielBadura in the above tests, do you experience any kind of failure?

It seems to fail here: `Roave\BetterReflection\Reflection\ReflectionProperty->getStartLine()`

Perhaps it cannot find the `value` reflection property for an ENUM? `value` is declared in `php-src`, so it may be that :thinking:

[2022-11-22 09:48] janedbal commented on #1309
I think I replicated this issue in https://github.com/phpstan/phpstan-src/pull/2026

[2022-11-22 10:07] Ocramius commented on #1309
Yep, seems like it's really about the core-provided reflection symbol.

In the adapters, we can try-catch this stuff.

In this component (where we don't use the adapters) we either `catch {}`, or we have to provide a code location for ENUMs (unlikely)

[2022-11-22 12:02] DanielBadura commented on #1309
No, the testcases all did not throw, thats why i could not find the real issue.

Tried now this here based on the linked issue:
[code]
Which results into an error which seems a different one than the CodeLocationMissing, no?:
[code]

[2022-11-22 12:28] Ocramius commented on #1309
@DanielBadura in your example, your `DefaultReflector` only knows about the `StringSourceLocator`: you will need to provide a source locator for internal PHP symbols too :)

[2022-11-22 12:44] DanielBadura commented on #1309
Yes, thanks. This was missing, now i get with this
[code]

This error:
[code]

[2022-11-22 13:07] Ocramius commented on #1309
Yeah, that's indeed the reproducer.

The exception is correct/expected here.

What needs to happen in BetterReflection (in the adapter) is a try-catch.

In BackwardCompatibilityCheck, this needs to be hardened: https://github.com/Roave/BackwardCompatibilityCheck/blob/5e31508bae4c8d3f90f7dfbc2a3cbca735fa254e/src/DetectChanges/BCBreak/FunctionBased/MultipleChecksOnAFunction.php#L42-L43

I would say

[2022-11-22 13:19] kukulich commented on #1309
I'll prepare PR for adapters so it should solve PHPStan issue.

[2022-11-22 13:53] MaximilianKresse opened #1310 "[Feature Request] Access to namespace aliases"
We're currently using BetterReflection to parse our code and generate our manual with it. We currently have v5.11.1 in usage and we wanted to update to the current version but there is a problem with version 6. We previously used ```ReflectionClass::getDeclaringNamespaceAst()``` to get access to the namespace node and find all USE and USE-Aliases (```use * as *;```) for this class to be able to pa

[2022-11-22 14:00] Ocramius commented on #1310
IMO this is not part of a `ReflectionClass`, but of a `Namespace` AST node, so adding it back to `ReflectionClass` is awkward at best.

For example, this is valid:

[code]

https://3v4l.org/pAsqM

I don't think that such an API should therefore exist on `ReflectionClass`.

Until `roave/better-reflection:^4`, we had `phpdocumentor/reflection-docblock` as a dependency.

I think the safest way is to

[2022-11-22 14:23] MaximilianKresse commented on #1310
Thank you for your fast response! I'll take a look into it - the part I'm looking for seems to be located in "phpDocumentor/TypeResolver".

[2022-11-22 14:23] #1310 closed, assigned to nobody

[2022-11-22 14:36] DanielBadura commented on #1309
I think you linked the wrong place since the exception in this case right now i thrown from the `PropertyBased` one. https://github.com/Roave/BackwardCompatibilityCheck/blob/5e31508bae4c8d3f90f7dfbc2a3cbca735fa254e/src/DetectChanges/BCBreak/PropertyBased/MultipleChecksOnAProperty.php#L30

So i could try to harden it there, but i think i should wait until the PR mentioned by @kukulich is finished,

[2022-11-22 14:39] kukulich commented on #1309
@DanielBadura I will fix `Roave\BetterReflection\Reflection\Adapter\ReflectionProperty` (adapter that mimics native reflection) but "Backward Compatibility Check" uses `Roave\BetterReflection\Reflection\ReflectionProperty`

[2022-11-22 16:31] Ocramius commented on #1309
@DanielBadura https://github.com/Roave/BackwardCompatibilityCheck/pull/697 does not need to wait for `roave/better-reflection` changes

[2022-11-23 09:58] DanielBadura opened #1311 "Getting parameter from method with new initializer throws"
Again, coming originally from `BackwardsCompatibilityCheck`. Running it results right now to some Skipped checks due to an error in `BetterReflection`.  [Here the output from BC-Check](https://github.com/patchlevel/event-sourcing/actions/runs/3530795330/jobs/5923186359):
[code]

So I tried to get an reproducer for this and came up with this TestCase:
[code]

Which leads to this error:
[code]

This

[2022-11-23 10:00] kukulich commented on #1311
This is valid and expected in BetterReflection.

[2022-11-23 10:05] Ocramius commented on #1311
Yup, we don't allow getting values for initializer expressions, since they can trigger autoloading, and avoiding autoloading is the primary purpose of this library.

[2022-11-23 10:05] #1311 closed, assigned to Ocramius

[2022-11-23 10:20] DanielBadura commented on #1311
Should I open another issue then for BC-Check?

[2022-11-23 10:22] DanielBadura commented on #1311
Also the one error in between the new initialize errors is about a default enum value. This should be possible to solve, right?

[2022-11-23 10:26] Ocramius commented on #1311
Yeah, I think the `@throws` in `roave/backward-compatibility-check` is not handled.

I suggest raising a PR directly, perhaps.

[2022-11-23 10:26] Ocramius commented on #1311
Fetching an enum still causes it to autoload, heh

[2022-11-23 10:55] DanielBadura commented on #1311
If i would know exactly what to do, sure. Already looking into it..

True...

[2022-11-23 11:27] kukulich commented on #1311
https://github.com/patchlevel/event-sourcing/blob/2.1.x/src/Projection/ProjectorStore/ProjectorState.php#L14

No, I think this should be resolved without autoload.

@DanielBadura Can you try different enum case? There may be problem with the name `New`.

[2022-11-23 11:31] DanielBadura commented on #1311
Tried it already here https://github.com/patchlevel/event-sourcing/pull/331/commits/8384f5b5667b364941a97834d3ee850020cb570b

But there the "base" was still having the enum with `New` so could also possibly that why it was still failing.

[2022-11-23 11:38] kukulich commented on #1311
My bad, @Ocramius is right. `Enum::SOME_CASE` returns instance, so it cannot be resolved. It looks like a constant access, but it's not.

[2022-11-23 11:44] DanielBadura commented on #1311
Yeah, getting the `string` value might be possible but this would not be the *real* value passed to the method. So i guess this is not possible without autoloading and could also be handled somehow in `roave/backward-compatibility-check` so that it will not produce errors there.

[2022-11-23 12:28] #1309 closed, assigned to kukulich